<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block navigation %}
    {% include "partials/corporate-nav.html.njk" %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
    {% include "partials/corporate-footer.html.njk" %}
{% endblock %}
<script src="js/jquery.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>