
<div class="faq__item">
    <div class="faq__item__question">
        <h3>İstanbul dışında illere gönderim yapılıyor mu? Gönderim hangi iller için geçerli?</h3>
    </div>
    <div class="faq__item__answer">
        İstanbul dışında gönderim yapılan illeri öğrenmek ve detaylı bilgi alabilmek için 444 86 65’ten bizimle iletişime geçebilirsin.
    </div>
</div>