 <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__copyright">
                <p>
                    BE LIGHT © 2017
                </p>
            </div>
            <div class="footer__social">
                <div class="footer__social__icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>