 <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__copyright">
                <p>
                    <span>BE LIGHT</span> © 2017
                </p>
            </div>
            <div class="footer__social">
                <div class="footer__social__icon fsi_facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="footer__social__icon fsi_twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="footer__social__icon fsi_instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="footer__social__icon fsi_youtube">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>