<div class="header header-ecommerce">
    <div class="container hidden-xs hidden-sm">
        <div class="row">
            <div class="header-logo">
                <a href="#">
                    <img src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x,img/logo@3x.png 3x">
                </a>
            </div>
            <div class="header-nav">
                <a href="#">Biz Kimiz?</a>
                <a href="#">Etkinlikler</a>
                <a href="#">Bizimle Hafifleyenler</a>
                <a href="#">Workshop</a>
                <a href="#">İletişim</a>
            </div>
            <div class="header-controls">
                <div class="header-controls__phone">
                    <a href="tel:+904448665">
                        <i class="fa fa-phone"></i>444 86 65
                    </a>
                </div>
                <div class="header-controls__user">
                    <a href="#"><i class="fa fa-user-plus"></i>Üye ol</a><span>•</span>
                    <a href="#"><i class="fa fa-sign-in"></i>Giriş yap</a><span>•</span>
                    <a href="#"><i class="fa fa-shopping-basket"></i>Sepetim</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mobile-nav visible-xs-block visible-sm-block">
        <div class="row">
            <div class="mobile-menu">
                <div class="mobile-menu__icon">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-times corporate-times hidden"></i>
                </div>
                <div class="mobile-menu__list">
                    <div class="header-controls">
                        <a href="#">EN</a><span class="header-separator">•</span><a href="#" class="lang-active">TR</a>
                    </div>
                    <ul>
                        <li><a href="#">Biz Kimiz?</a></li>
                        <li><a href="#">Etkinlikler</a></li>
                        <li><a href="#">Bizimle Hafifleyenler</a></li>
                        <li><a href="#">Workshop</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-logo">
                <div class="mobile-phone">
                    <a href="tel:+904448665">
                        <i class="fa fa-phone"></i>444 86 65
                    </a>
                </div>
                <img src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x,img/logo@3x.png 3x">
            </div>
            <div class="mobile-basket">
                <a href="#"><i class="fa fa-user-o"></i></a>
                <a href="#"><i class="fa fa-shopping-basket"></i></a>
            </div>
            <i class="fa fa-times ecommerce-times hidden"></i>
            <div class="mobile-menu-basket__list" dir="rtl">
                <ul>
                    <li><a href="#">Üye Ol</a></li>
                    <li><a href="#">Giriş Yap</a></li>
                    <li><a href="#">Sipariş Takip</a></li>
                </ul>
                <div class="mobile-menu-basket__list__siparis">
                    <div class="mobile-menu-basket__list__siparis__adet">
                        10
                    </div>
                    Sepetindeki Ürün Sayısı
                    <a href="#" class="button button__100 button__orange">Satın Al</a>
                </div>
            </div>
        </div>
    </div>
</div>