<a href="#">
    <div class="ecommerce-home-products__item">
        <div class="ecommerce-home-products_item_image">
            <img src="img/product.png">
        </div>
        <div class="ecommerce-home-products__item__content">
            <h3>6'lı Juice Detox</h3>
            Her yudumda arınarak ve hızla hafiflemek elinde.
        </div>
        <div class="ecommerce-home-products__item__meta">
            <div class="ecommerce-home-products__item__icons">
                <div class="ecommerce-home-products__item__icons__price">
                    <div class="ecommerce-home-products__item__icons__price-old">240 TL</div>
                    <div class="ecommerce-home-products__item__icons__price-new">140 <span>TL</span></div>
                </div>
            </div>
        </div>
    </div>
</a>