<div class="home-product">
    <div class="home-product-image">
        <img src="img/product.png">
    </div>
    <div class="home-product-info">
        <h3>Sana özel hafifleme</h3>
        Şeyda Çoşkun Kişiye Özel Hafifleme
    </div>
</div>