{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="workshops__banner">
        <div class="workshops__banner__image">
            <img src="img/slider1.jpg">
        </div>
        <div class="workshop__banner__overlay"></div>
        <div class="workshops__banner__text">Derslerimiz Hakan Şef eşliğinde başlayacak</div>
    </div>

    <div class="workshops__list">
        <span class="page-title title-blue visible-xs-block">KATEGORİLER</span>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
        <div class="workshops__item">
            <a href="#">
                <img src="img/workshop_item.png">
                <div class="workshops__item__overlay"></div>
                <div class="workshops__list__text">
                    Kahve Eğitimi ve İşletmeciliği
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <span class="page-title title-blue">GALERİ</span>
            <div class="gallery">
                <a href="img/etkinlik.png" data-size="1500x1500" data-author="Samuel Rohl" class="demo-gallery__img--main">
                    <img src="img/etkinlik.png" alt="" />
                </a>
                <a href="img/etkinlik.png" data-size="1500x1500" data-author="Samuel Rohl" class="demo-gallery__img--main">
                    <img src="img/etkinlik.png" alt="" />
                </a>
                <a href="img/etkinlik.png" data-size="1500x1500" data-author="Samuel Rohl" class="demo-gallery__img--main">
                    <img src="img/etkinlik.png" alt="" />
                </a>
                <a href="img/etkinlik.png" data-size="1500x1500" data-author="Samuel Rohl" class="demo-gallery__img--main">
                    <img src="img/etkinlik.png" alt="" />
                </a>
            </div>
        </div>
    </div>

    <div class="container sponsors workshops__sponsors">
        <div class="row">
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
        </div>
    </div>

    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__caption">
                    <div class="pswp__caption__center">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui-default.min.js"></script>
    <script src="js/gallery.js"></script>
{% endblock %}