{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <span class="title-blue page-title">BE LIGHT WORKSHOP</span>
            <div class="workshops">
            {% for i in [1,2,3,4,5,6] %}
                {% include "partials/corporate-workshops__workshop.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/slick.min.js"></script>
    <script src="js/corporate-workshops.js"></script>
{% endblock %}