{% extends "partials/base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title">BE LIGHT WORKSHOP</h2>
            <div class="workshop">
                <h3>Kahve Eğitimi ve İşletmeciliği</h3>
                <div class="workshop__info">
                    <div class="workshop__info__item">
                        <div class="workshop__info__item-left-item">
                            <div class="workshop__info__item__icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="workshop__info__item__text">
                                24 Ağustos 2017 Pazartesi
                            </div>
                        </div>
                        <div class="workshop__info__item-left-item">
                            <div class="workshop__info__item__icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="workshop__info__item__text">
                                10.00 - 15.00
                            </div>
                        </div>
                    </div>
                    <div class="workshop__info__item-right">
                        <div class="workshop__info__item__icon">
                            <i class="fa fa-map-pin"></i>
                        </div>
                        <div class="workshop__info__item__text">
                            Be Light Kitchen
                        </div>
                    </div>
                </div>
                <div class="workshop__buy">
                    <div class="workshop__buy__price">
                        2000 <span>TL</span>
                    </div>
                    <a href="#" class="button button__large button__orange button__centered">
                        Satın Al
                    </a>
                </div>
                <div class="workshop__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id nisl ut nibh placerat egestas. Suspendisse a quam non ligula porta pellentesque. Sed aliquam, elit nec molestie egestas, nulla lectus porttitor dolor, lobortis eleifend odio dui in ipsum. Aenean porttitor magna in augue ultrices vehicula eu a felis. In tempus laoreet elit vel viverra. Aliquam consequat fermentum accumsan. Fusce porttitor a nisl non vehicula. Nam id mauris ornare, dictum sem vitae, sodales urna. Vestibulum venenatis, magna et semper suscipit, dolor lacus euismod massa, et consequat lorem mauris vitae ligula. Suspendisse potenti. Fusce ut magna tortor. Mauris laoreet est ac lectus sodales, eleifend auctor augue mollis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id nisl ut nibh placerat egestas. Suspendisse a quam non ligula porta pellentesque. Sed aliquam, elit nec molestie egestas, nulla lectus porttitor dolor, lobortis eleifend odio dui in ipsum. Aenean porttitor magna in augue ultrices vehicula eu a felis. In tempus laoreet elit vel viverra. Aliquam consequat fermentum accumsan. Fusce porttitor a nisl non vehicula. Nam id mauris ornare, dictum sem vitae, sodales urna. Vestibulum venenatis, magna et semper suscipit, dolor lacus euismod massa, et consequat lorem mauris vitae ligula. Suspendisse potenti. Fusce ut magna tortor. Mauris laoreet est ac lectus sodales, eleifend auctor augue mollis.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}