{% extends "partials/base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title">İLETİŞİM</h2>
            <div class="contact-info"></div>
            <div class="contact-map"></div>
        </div>
    </div>
{% endblock %}