{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <img src="img/mobile-slide.jpg" class="visible-xs">
            <img src="img/mobile-slide.jpg" class="visible-xs">

            <img src="img/slider1.jpg" class="hidden-xs">
            <img src="img/slider1.jpg" class="hidden-xs">

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui-default.min.js"></script>
    <script src="js/gallery.js"></script>
{% endblock %}