{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="slider corporate-index__slider">
        <div>
            <img src="img/slider1.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">
        </div>
        <div>
            <img src="img/slider2.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">

        </div>
        <div>
            <img src="img/slider3.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">

        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>HAFİFLETEN SEÇENEKLER</h2>
            <div class="home-products">
            {% for i in [1,2,3] %}
                {% include "partials/corporate-index__product.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="container skew-widget">
        <div class="row">
            <div class="skew-widget__item orange">
                <div class="skew-widget__content">
                    <img src="img/widgets/soguk-sikma.png" alt="Soğuk Sıkma">
                </div>
            </div>
            <div class="skew-widget__item green">
                <div class="skew-widget__content">
                    <img src="img/widgets/glutensiz.png" alt="Soğuk Sıkma">
                </div>
            </div>
            <div class="skew-widget__item">
                <div class="skew-widget__content">
                    <img src="img/widgets/katkisiz.png" alt="Soğuk Sıkma">
                </div>
            </div>
            <div class="skew-widget__item pink">
                <div class="skew-widget__content">
                    <img src="img/widgets/sekersiz.png" alt="Soğuk Sıkma">
                </div>
            </div>
            <div class="skew-widget__item orange">
                <div class="skew-widget__content">
                    <img src="img/widgets/laktozsuz.png" alt="Soğuk Sıkma">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>LOREM IPSUM</h2>
            <div class="home-products">
                {% for i in [1,2,3] %}
                    {% include "partials/corporate-index__product.html.njk" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container video-banner-container">
        <div class="row">
            <h2>BE LIGHT MUTFAĞINDA HAZIRLIK</h2>
        </div>
    </div>
    <div class="container-fluid video-banner">
        <div class="row">
            <a href="#" id="index-video-modal" data-toggle="modal" data-target="#indexVideo">
                <img src="img/youtube_social_icon_red.png" alt="Youtube Icon">
            </a>
        </div>
    </div>

    <div class="container clients">
        <div class="row">
            <h2>BİZİMLE HAFİFLEYENLER</h2>
            <div class="clients__list">
                <div class="clients__item">
                    <div class="clients__image">
                        <img src="img/clients/gulben_ergen.png" alt="Gülben Ergen">
                        <div class="circles">
                            <div class="circle-green"></div>
                            <div class="circle-orange"></div>
                            <div class="circle-blue"></div>
                        </div>
                    </div>
                    <h3>
                        Gülben Ergen
                    </h3>
                    <p class="clients__short-story">
                        Şeyda… Güçlü ve işini harika yapan bir kadın ve ben işine saygı duyduğum herkese hayranım.
                        Şeyda Coşkun, sana hayranım! O kadar çok sebebim var ki bunun için…
                    </p>
                    <a class="clients__readmore" href="#">
                        devamını oku...
                    </a>
                </div>
                <div class="clients__item">
                    <div class="clients__image">
                        <img src="img/clients/gulben_ergen.png" alt="Gülben Ergen">
                        <div class="circles">
                            <div class="circle-green"></div>
                            <div class="circle-orange"></div>
                            <div class="circle-blue"></div>
                        </div>
                        <div class="clients__video-button">
                            <a href="#">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h3>
                        Gülben Ergen
                    </h3>
                    <p class="clients__short-story">
                        Şeyda… Güçlü ve işini harika yapan bir kadın ve ben işine saygı duyduğum herkese hayranım.
                        Şeyda Coşkun, sana hayranım! O kadar çok sebebim var ki bunun için…
                    </p>
                    <a class="clients__readmore" href="#">
                        devamını oku...
                    </a>
                </div>
                <div class="clients__item">
                    <div class="clients__image">
                        <img src="img/clients/gulben_ergen.png" alt="Gülben Ergen">
                        <div class="circles">
                            <div class="circle-green"></div>
                            <div class="circle-orange"></div>
                            <div class="circle-blue"></div>
                        </div>
                    </div>
                    <h3>
                        Gülben Ergen
                    </h3>
                    <p class="clients__short-story">
                        Şeyda… Güçlü ve işini harika yapan bir kadın ve ben işine saygı duyduğum herkese hayranım.
                        Şeyda Coşkun, sana hayranım! O kadar çok sebebim var ki bunun için…
                    </p>
                    <a class="clients__readmore" href="#">
                        devamını oku...
                    </a>
                </div>
            </div>
            <div class="button button__blue button__large">
                Tümünü Göster
            </div>
        </div>
    </div>

    <div class="container-fluid steps-showcase">
        <div class="container">
            <div class="row">
                <h2>Hafifleme Paketi Almak Çok Kolay</h2>
                <div class="steps-showcase__list">
                    <div class="steps-showcase__item">
                        <div class="steps-showcase__image">
                            <img src="img/steps/step_1.png" alt="Step 1">
                        </div>
                        <p>
                            Hafifleme hedefine en uygun yemek paketini seç, sepetine ekle.
                        </p>
                        <span class="step-count">
                            1
                        </span>
                    </div>
                    <div class="steps-showcase__item">
                        <div class="steps-showcase__image">
                            <img src="img/steps/step_2.png" alt="Step 1">
                        </div>
                        <p>
                            Yemek paketin soğuk zincir araçlarımızla 2 iş günü  içerisinde sana teslim edilir.
                        </p>
                        <span class="step-count">
                            2
                        </span>
                    </div>
                    <div class="steps-showcase__item">
                        <div class="steps-showcase__image">
                            <img src="img/steps/step_3.png" alt="Step 1">
                        </div>
                        <p>
                            Senin için şeflerimiz tarafından yemeğin hazırlanmaya başlasın
                        </p>
                        <span class="step-count">
                            3
                        </span>
                    </div>
                    <div class="steps-showcase__item">
                        <div class="steps-showcase__image">
                            <img src="img/steps/step_4.png" alt="Step 1">
                        </div>
                        <p>
                            Hafifleme hedefine en uygun yemek paketini seç, sepetine ekle.
                        </p>
                        <span class="step-count">
                            4
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container sponsors">
        <div class="row">
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
            <div class="sponsors__item">
                <img src="img/sponsors/s2.png" alt="Miele">
            </div>
        </div>
    </div>

    <div class="container quality-cert">
        <div class="row">
            <h2>
                <span>Kalite </span>
                <span>Standart </span>
                <span>Belgelerimiz </span>
            </h2>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade videoModal" id="indexVideo" tabindex="-1" role="dialog" aria-labelledby="Belight Tanıtım">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KDGf0-Z4rLc?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="js/slick.min.js"></script>
<script src="js/corporate-index.js"></script>
<script src="js/modal.js"></script>


{% endblock %}