{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container" style="padding: 0;">
        <div class="row">
            <img src="img/mobile-slide.jpg">
            <img src="img/mobile-slide.jpg">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui-default.min.js"></script>
    <script src="js/gallery.js"></script>
{% endblock %}