{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <span class="title-blue page-title">BİZİMLE HAFİFLEYENLER</span>
            <div class="client-detail__item">
                <div class="client-detail__info">
                    <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/gulben_ergen.png" alt="Gülben Ergen">
                            <div class="circles">
                                <div class="circle-green"></div>
                                <div class="circle-orange"></div>
                                <div class="circle-blue"></div>
                            </div>
                        </div>
                        <h3>
                            Gülben Ergen
                        </h3>
                    </div>
                </div>
                <div class="client-detail__text">
                    Şeyda…<br>
                    Güçlü ve işini harika yapan bir kadın ve ben işine saygı duyduğum herkese hayranım.
                    Şeyda Coşkun, sana hayranım! O kadar çok sebebim var ki bunun için… Zayıflamak, zayıf kalmak günümüz kadınlarının ortak sorunu ve sen ezberleri yok edercesine, yanlışlara çizik atarcasına meydan okuyorsun o fazla kilolara, yağ birikintilerine. Benden 12 kilo aldın sen. Tüm yanlış bildiğim ezberleri bozdun sen. Anne olmanın üst üste yapmanın bahane olmayacağını, elektriğe bağlı makinelerde geçen zamanın fosluğunu senden öğrendim. Sana güveniyorum Şeyda Coşkun. Seni beğeniyorum, seni sayıyorum Şeyda Coşkun. Bana sağlam bir duruş, dik bir omurga, yürüyüşte temiz hava, beslenmede toprağın nimetleri hatırlattın. Israrlarına kim dayanmış ki ben dayanayım. Bunca şeye tek isteğim var senden; ben dalarım ben beşeriyim, ben dünyeviyim. Nefsime yenilirsem, sakın ama sakın beni bırakma.
                </div>
            </div>
            <div class="client-detail__item">
                <div class="client-detail__info">
                    <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/gulben_ergen.png" alt="Gülben Ergen">
                            <div class="circles">
                                <div class="circle-green"></div>
                                <div class="circle-orange"></div>
                                <div class="circle-blue"></div>
                            </div>
                        </div>
                        <h3>
                            Gülben Ergen
                        </h3>
                    </div>
                </div>
                <div class="client-detail__text">
                    Şeyda…<br>
                    Güçlü ve işini harika yapan bir kadın ve ben işine saygı duyduğum herkese hayranım.
                    Şeyda Coşkun, sana hayranım! O kadar çok sebebim var ki bunun için… Zayıflamak, zayıf kalmak günümüz kadınlarının ortak sorunu ve sen ezberleri yok edercesine, yanlışlara çizik atarcasına meydan okuyorsun o fazla kilolara, yağ birikintilerine. Benden 12 kilo aldın sen. Tüm yanlış bildiğim ezberleri bozdun sen. Anne olmanın üst üste yapmanın bahane olmayacağını, elektriğe bağlı makinelerde geçen zamanın fosluğunu senden öğrendim. Sana güveniyorum Şeyda Coşkun. Seni beğeniyorum, seni sayıyorum Şeyda Coşkun. Bana sağlam bir duruş, dik bir omurga, yürüyüşte temiz hava, beslenmede toprağın nimetleri hatırlattın. Israrlarına kim dayanmış ki ben dayanayım. Bunca şeye tek isteğim var senden; ben dalarım ben beşeriyim, ben dünyeviyim. Nefsime yenilirsem, sakın ama sakın beni bırakma.
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}