{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title">ETKİNLİKLER</h2>
            <div class="events">
            {% for i in [1,2,3,4,5,6] %}
                {% include "partials/corporate-events__event.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/slick.min.js"></script>
    <script src="js/corporate-events.js"></script>
{% endblock %}