{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <span class="page-title title-blue">Kahve Eğitimi ve İşletmeciliği</span>
            <div class="workshops__category">
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
                <div class="workshops__category__item">
                    <img src="img/workshop.jpg">
                    <div class="workshop__title">
                        Kahve Eğitimi ve İşletmeciliği
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2018 Pazartesi<br/>
                        10.00 - 15.00
                    </div>
                    <a href="#" class="workshop__button">
                        İNCELE
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}