{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <span class="page-title title-blue">İLETİŞİM</span>
            <div class="contact">
            <div class="contact-info">
                <p>Ortaköy Mah. Ambarlıdere Cad. No:6 Kat:4 Beşiktaş, İstanbul</p>
                <p class="contact-info__phone">444 86 65</p>
                <p><a href="mailto:belight@belight.com.tr">belight@belight.com.tr</a></p>
                <div class="contact-info__working-hours">
                    <h3>Çalışma Saatleri</h3>
                    Hafta İçi : 09:00 - 18:00
                </div>
            </div>
            <div class="contact-map">

                <div class="visible-xs">
                    <a class="button button__large button__blue" href="https://www.google.com/maps/dir/?api=1&destination=B+Light+Kitchen">
                        Google Maps ile aç
                    </a>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.628174994935!2d29.020681315244097!3d41.05525962448161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7caa6d6f325%3A0xdc3c9c361bfa44e5!2zT3J0YWvDtnkgTWguLCBBbWJhcmzEsWRlcmUgU2suIE5vOjQsIEJlxZ9pa3RhxZ8vSXN0YW5idWw!5e0!3m2!1sen!2str!4v1504876564473" width="100%" height="285px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </div>
        </div>
    </div>
{% endblock %}