{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="about-us">
                <div class="about-us__intro">
                    <h2>BE LIGHT:</h2>
                    <p>2007 yılından bu yana, hafif bir hayata merhaba demek isteyen binlerce kişiye eşlik eden Şeyda Coşkun, yaşam koçluğundaki iddiasını BE LIGHT ile daha da artırıyor.</p>
                    <p>BE LIGHT KITCHEN, BE LIGHT EVENTS ve BE LIGHT WORKSHOP ile 600 m2’lik yeni bir mutfak ve profesyonel bir ekip desteği kazandıran Şeyda Coşkun, daha  hafif bir yaşama adım atılmasını sağlıyor.</p>
                </div>
                <div class="about-us__section">
                    <div class="about-us__section__title">
                        BE LIGHT<span class="color-light-green">Kitchen</span>
                        <a href="" class="button button__green_bordered">Paketlerimiz</a>
                    </div>
                    <div class="about-us__section__detail">
                        Şeyda Coşkun’un spor  alanında başarısı ispatlanmış deneyimlerini destekleyen BE LIGHT KITCHEN, üzerindeki fazla yüklerden kurtulmak isteyenlere hizmet veriyor. Hafifleten lezzetlerle dolu, şeffaf ve bilinçli mutfağımızda yalnızca kendisine hayran bırakan menüler değil, yemek alanındaki dünya trendleri ve yenilikler de servis ediliyor.Kişiye özel hafifleme paketleri en taze malzemelerle günlük olarak hazırlanıp adrese teslim ediliyor
                    </div>
                </div>
                <div class="about-us__section">
                    <div class="about-us__section__title ">
                        BE LIGHT<span class="color-orange">Kitchen</span>
                        <a href="" class="button button__orange_bordered">Etkinlikler</a>
                    </div>
                    <div class="about-us__section__detail">
                        <h3>Profesyonel ellerden kurumunuza özel çözümler</h3>
                        <p>BE LIGHT ekibi,tüm mutfağını da lezzet sırlarını da dileyen herkesle seve seve paylaşıyor. Geniş ve donanımlı mutfağımız  hafif tariflerle ilgili eğitimlerin yanı sıra marka ve ürün lansmanları, kurumsal motivasyon toplantıları, canlı yayın dahil profesyonel program, video ve fotoğraf çekimleri ve kişisel organizasyonlar için de kapılarını açıyor.<br />
                            100 kişilik etkinlik ve davetler, 40 kişi kapasiteli seminer oturumları, 20 kişilik workshop çalışmaları ve 50 kişi kapasiteli özel konseptli ve özel menülü kurumsal etkinlikler BE LIGHT EVENTS imzası ile fark yaratıyor.</p>
                    </div>
                </div>
                <div class="about-us__section">
                    <div class="about-us__section__title ">
                        BE LIGHT<span class="color-pink ">Workshop</span>
                        <a href="" class="button button__pink_bordered">Etkinlikler</a>
                    </div>
                    <div class="about-us__section__detail">
                        <h3>Profesyonel ellerden kurumunuza özel çözümler</h3>
                        <p>BE LIGHT ekibi,tüm mutfağını da lezzet sırlarını da dileyen herkesle seve seve paylaşıyor. Geniş ve donanımlı mutfağımız  hafif tariflerle ilgili eğitimlerin yanı sıra marka ve ürün lansmanları, kurumsal motivasyon toplantıları, canlı yayın dahil profesyonel program, video ve fotoğraf çekimleri ve kişisel organizasyonlar için de kapılarını açıyor.<br />
                            100 kişilik etkinlik ve davetler, 40 kişi kapasiteli seminer oturumları, 20 kişilik workshop çalışmaları ve 50 kişi kapasiteli özel konseptli ve özel menülü kurumsal etkinlikler BE LIGHT EVENTS imzası ile fark yaratıyor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid video-banner">
        <div class="row">
            <a href="#">
                <img src="img/youtube_social_icon_red.png" alt="Youtube Icon">
            </a>
        </div>
    </div>
    <div class="about-us__mekan-arge">
        <div class="container">
            <div class="row">
                <div class="about-us_mekan">
                    <h3>Mekan Kullanımı</h3>
                    <div class="about-us_image">
                        <img src="img/biz-kimiz_mekan.png">
                    </div>
                    <p>Be Light Kitchen, TV yemek programları, stillife ürün ve yemek fotoğrafı ve video çekimleri için tasarımı ile ayrıcalıklı bir mekandır.</p>
                </div>
                <div class="about-us_arge">
                    <h3>AR-GE</h3>
                    <div class="about-us_image">
                        <img src="img/biz-kimiz_arge.png">
                    </div>
                    <p>	Be Light ,markaların talebi doğrultusunda ürünlerini ve mutfak ekipmanlarını deneyimler, performanslarını test eder,geri bildirimlerini raporlar 'hafifleten tarifler'üzerine danışmanlık vermektedir.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us_bize-ulasin">
        <a class="button button__large button__blue" href="#">Bize Ulaşın</a>
    </div>
    <div class="container quality-cert">
        <div class="row">
            <h2>
                Kalite <br>
                Standart <br>
                Belgelerimiz
            </h2>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>
            <div class="quality-cert__item">
                <span class="title">
                    ISO 9001
                </span>
                <img src="img/certificates/iso-9001.jpg" alt="ISO 9001 Certificate">
            </div>

        </div>
    </div>
{% endblock %}