{% extends "partials/base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title">BE LIGHT WORKSHOP</h2>
            <div class="workshop">
                <h3>Kahve Eğitimi ve İşletmeciliği</h3>
                <div class="workshop__info">
                    <div class="workshop__info__item">
                        <div class="icon">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}