{% extends "partials/corporate-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title">SIKÇA SORULAN SORULAR</h2>
            <div class="faq">
            {% for i in [1,2,3,4,5,6] %}
                {% include "partials/corporate-faq__item.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}