{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="product-top">
                <div class="product-left">
                    <div class="product-image-showroom">
                        <div class="product-img-slider">
                            <div class="slider-for">
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product-nav-slider">
                            <div class="slider-nav">
                                <div>
                                    <img src="img/product/productSliderImageThumb.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImageThumb.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImageThumb.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-right">
                    <h1>
                        6'lı Juice Detox
                    </h1>
                    <p>
                        Günlük hayat hızla akıp giderken aynı hızla hafiflemek istiyorsan 6’lı Juice Detox’u yanından ayırma. İçerdiği doğal vitamin ve mineraller sayesinde vücudun  fazlalıklarından arındıkça ruhunun da hafifleyeceğini unutma!
                    </p>
                    <div class="product__price">
                        <div class="first-row">
                            <del>
                                240 TL
                            </del>
                            <div class="product__widgets">
                                <div class="product__widgets__item">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="second-row">
                            <span class="sum">
                                140
                            </span>
                            <span class="currency">
                                TL
                            </span>
                            <span class="tax">
                                (KDV Dahil)
                            </span>
                        </div>
                    </div>
                    <div>
                        <a class="button button__orange button__large" href="#">Satın Al</a>
                    </div>
                    <div class="product__shipment-info">
                        <div>
                            <img src="img/icons/product-delivery1.png" alt="">
                            <p>
                                Ürünler maksimum <span class="text-blue">2 iş günü</span> içerisinde teslim edilir.
                            </p>
                        </div>
                        <div>
                            <img src="img/icons/product-delivery2.png" alt="">
                            <p>
                                Perşembe günleri 17:00 'den sonra alınan siparişler Pazartesi günü teslim edilir.
                            </p>
                        </div>
                    </div>
                    <div class="product__suggest-box">
                        <h4>
                            Paket içeriğinin verimli olması için:
                        </h4>
                        <ul>
                            <li>
                                Açık havada hergün 1 saat yürüyüş yapılması
                            </li>
                            <li>
                                Çay, kahve ve asitli içecekler  tüketilmemesi
                                önerilmektedir.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="product-bottom">
                <div class="product__content">
                    <h2>
                        İçerik
                    </h2>
                    <div class="product-content__bottle__item">
                        <img src="img/juice-variants/GreenJuice.png" alt="Green Juice">
                        <div>
                            <h5>
                                GREEN
                                <span>
                                    JUICE
                                </span>
                            </h5>
                            <ul>
                                <li>Salatalık</li>
                                <li>Yeşil Elma</li>
                                <li>Maydanoz</li>
                                <li>Kereviz Sapı</li>
                                <li>Taze Zencefil</li>
                                <li>Lime</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product__benefits">
                    <h2>
                        Faydaları
                    </h2>
                    <div class="product__benefits__item">
                        <div>
                            <h5>
                                GREEN
                                <span>
                                    JUICE
                                </span>
                            </h5>
                            <p>
                                Yüksek oranda lif içerir. Sindirim sistemini rahatlatır ve bağırsakları yumuşatır. Bağışıklık sistemini güçlendirir. Anti-aging özelliği ile yaşlanmayı geciktirir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__howto">
                    <h2>
                        Nasıl Kullanılır?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus facilisis nunc, sit amet tristique dui dapibus bibendum. Cras non mollis dui. Donec vel odio ornare, convallis nulla sed, ornare purus. Morbi cursus faucibus mi eget pulvinar. In scelerisque in neque eu sollicitudin. Nullam congue a lorem in gravida. In pellentesque bibendum est, non venenatis ligula ornare nec. Aliquam fermentum sed sem ultrices dignissim.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/slick.min.js"></script>
    <script src="js/ecommerce-product.js"></script>
{% endblock %}