{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container__login">
                <h2 class="title-blue">ŞİFREMİ UNUTTUM</h2>
            </div>
            <div class="container__login">
                <div class="container__login__form">
                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="email" id="input-sifre-email">
                        <label class="float" for="input-sifre-email">
                            E-posta
                        </label>
                    </div>
                    <div class="container__login__form__item">
                        <a class="button button__blue button__large" href="#">Şifremi Sıfırla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container__login__image">
        <img src="img/login.png">
    </div>
{% endblock %}

{% block script %}
    <script src="js/all-input.js"></script>
{% endblock %}