{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="slider corporate-index__slider">
        <div>
            <img src="img/slider1.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">
        </div>
        <div>
            <img src="img/slider2.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">

        </div>
        <div>
            <img src="img/slider3.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>ÜRÜNLERİMİZ</h2>
            <div class="ecommerce-home-products">
            {% for i in [1,2,3,4,5,6,7,8,9] %}
                {% include "partials/ecommerce-index__product.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade infoModal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="Belight Bilgilendirme">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        Ürün Sepetinize Eklendi.
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="button button__green button__large" href="#">Alışverişe Dön</a>
                    <a class="button button__orange button__large" href="#">Sepete Git</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="js/ecommerce-index.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/modal.js"></script>
<script>
    $(document).ready(function() {
        $('#infoModal').modal('toggle');
    });
</script>
{% endblock %}