{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container container__hesabim">
        <div class="row">
            <h2>HESABIM</h2>
            <div class="hesabim__navigation">
                <a href="">
                    <div>
                        <h3>Üyelik Bilgilerim</h3>
                        <div class="hesabim__navigation__icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div>
                        <h3>Şifre İşlemleri</h3>
                        <div class="hesabim__navigation__icon">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="active">
                        <h3>Adres Bilgilerim</h3>
                        <div class="hesabim__navigation__icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div>
                        <h3>Siparişlerim</h3>
                        <div class="hesabim__navigation__icon">
                            <i class="fa fa-list-ul"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="hesabim__adreslerim__button">
                <a href="#" class="button button__blue button__large" data-toggle="modal" data-target="#myModal">Yeni Adres Ekle</a>
            </div>
            <div class="hesabim__adreslerim__panel">
                <div class="hesabim__adreslerim__panel__heading">
                    ADRESLERİM
                </div>
                <div class="hesabim__adreslerim__panel__separator"></div>
                <div class="hesabim__adreslerim__panel__body">
                    <div class="hesabim__adreslerim__panel__body__item">
                        <h3>Ev</h3>
                        <div class="hesabim__panel__adress">
                            A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                        </div>
                        <div class="hesabim__panel__phone">
                            0 (535-371-91-99)
                        </div>
                        <div class="hesabim__panel__buttons">
                            <a href="#" class="hesabim__panel__adress__edit">Düzenle</a>
                            <a href="#" class="hesabim__panel__adress__delete">Sil</a>
                        </div>
                    </div>
                    <div class="hesabim__adreslerim__panel__body__item">
                        <h3>Ev</h3>
                        <div class="hesabim__panel__adress">
                            A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                        </div>
                        <div class="hesabim__panel__phone">
                            0 (535-371-91-99)
                        </div>
                        <div class="hesabim__panel__buttons">
                            <a href="#" class="hesabim__panel__adress__edit">Düzenle</a>
                            <a href="#" class="hesabim__panel__adress__delete">Sil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal__body-fatura-adresi">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-fatura-adresi">
                        <label class="float" for="input-fatura-adresi">
                            Fatura Adresi
                        </label>
                    </div>
                    <div class="modal__body-isim">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="ilinput-isim">
                        <label class="float" for="input-isim">
                            İsim
                        </label>
                    </div>
                    <div class="modal__body-eposta">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-eposta">
                        <label class="float" for="input-eposta">
                            E-posta
                        </label>
                    </div>
                    <div class="modal__body-telefon">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-telefon">
                        <label class="float" for="input-telefon">
                            Telefon
                        </label>
                    </div>
                    <div class="modal__body-il">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <label>İl</label>
                        <select class="wide">
                            <option value="istanbul">İstanbul</option>
                            <option value="ankara">Ankara</option>
                            <option value="izmir">İzmir</option>
                        </select>
                    </div>
                    <div class="modal__body-ilce">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <label>İlçe</label>
                        <select class="wide">
                            <option value="atasehir">Ataşehir</option>
                            <option value="kadikoy">Kadıköy</option>
                            <option value="uskudar">Üsküdar</option>
                        </select>
                    </div>
                    <div class="modal__body-detayli-adres">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <textarea id="input-detayli-adres"></textarea>
                        <label class="float" for="input-detayli-adres">
                            Detaylı Adres
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="button button__large button__blue">Yeni Adres Ekle</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/modal.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').niceSelect();
        });
    </script>
{% endblock %}