{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container__login">
                <h2>ŞİFREMİ UNUTTUM</h2>
            </div>
            <div class="container__login">
                <div class="container__login__form">
                    <div class="container__login__form__item">
                        <input type="email" placeholder="E-posta">
                    </div>
                    <div class="container__login__form__item">
                        <input type="password" placeholder="Şifrenizi Giriniz">
                    </div>
                    <div class="container__login__form__item login__button__container">
                        <a class="button button__blue button__large" href="#">Giriş Yap</a>
                        <a class="button button__facebook button__large" href="#">FACEBOOK İLE GİRİŞ YAP</a>
                        <a class="button button__bordered button__large" href="#">Yeni Üye Ol</a>
                    </div>
                </div>
                <div class="container__login__image">
                    <img src="img/login.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}