{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="product-top">
                <div class="product-left">
                    <div class="product-image-showroom workshop-image-showroom">
                        <div>
                            <img src="img/product/productSliderImage.png" alt="">
                        </div>
                        <div class="workshop__suggest-box hidden-xs">
                            <h4>
                                Paket içeriğinin verimli olması için:
                            </h4>
                            <ul>
                                <li>
                                    <p>
                                        Açık havada hergün 1 saat yürüyüş yapılması
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Çay, kahve ve asitli içecekler  tüketilmemesi
                                        önerilmektedir.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-right">
                    <h1>
                        6'lı Juice Detox
                    </h1>
                    <p>
                        Günlük hayat hızla akıp giderken aynı hızla hafiflemek istiyorsan 6’lı Juice Detox’u yanından ayırma. İçerdiği doğal vitamin ve mineraller sayesinde vücudun  fazlalıklarından arındıkça ruhunun da hafifleyeceğini unutma!
                    </p>
                    <div class="workshop__price">
                        <div class="first-row">
                            <del>
                                240 TL
                            </del>
                        </div>
                        <div class="second-row">
                            <span class="sum">
                                1.400
                            </span>
                            <span class="sum-cents">
                                ,00
                            </span>
                            <span class="currency">
                                TL
                            </span>
                            <span class="tax">
                                (KDV Dahil)
                            </span>
                        </div>
                        <div>
                            <a class="button button__orange button__large" href="#">Satın Al</a>
                        </div>
                    </div>
                    <div class="new-workshop__price">
                        <div class="first-col">
                            <div>
                                <del>
                                    240 TL
                                </del>
                            </div>
                            <div>
                                <span class="sum">
                                    1.400
                                </span>
                                <span class="sum-cents">
                                    ,00
                                </span>
                                <span class="currency">
                                    TL
                                </span>
                            </div>
                            <div>
                                <span class="tax">
                                    (KDV Dahil)
                                </span>
                            </div>
                        </div>
                        <div class="second-col">
                            <div>
                                <a class="button button__orange button__large" href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <div class="workshop__date">
                        24 Ağustos 2017 Pazartesi<br />
                        Saat : 10.00 - 15.00
                    </div>
                    <div class="workshop__detail">
                        <h3>Menü</h3>
                        <div>
                            Fırında bebek patatesler, taze ot salsa ile<br/>
                            Sherry sirkeli karidesler, biberiyeli mayonez ile<br/>
                            Lime ve sarımsaklı tavuk kanatları, acılı domates sos ile<br/>
                            Mini et quesadilla, guacamole sos ile<br/>
                            Sangria ikramımızdır.
                        </div>
                    </div>
                    <div class="workshop__suggest-box visible-xs">
                        <h4>
                            Paket içeriğinin verimli olması için:
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    Açık havada hergün 1 saat yürüyüş yapılması
                                </p>
                            </li>
                            <li>
                                <p>
                                    Çay, kahve ve asitli içecekler  tüketilmemesi
                                    önerilmektedir.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Açık havada hergün 1 saat yürüyüş yapılması
                                </p>
                            </li>
                            <li>
                                <p>
                                    Çay, kahve ve asitli içecekler  tüketilmemesi
                                    önerilmektedir.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Açık havada hergün 1 saat yürüyüş yapılması
                                </p>
                            </li>
                            <li>
                                <p>
                                    Çay, kahve ve asitli içecekler  tüketilmemesi
                                    önerilmektedir.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ecommerce-product.js"></script>

    <script src="js/modal.js"></script>
    <script>
        $(document).ready(function() {
            $('#indexVideo').on('hidden.bs.modal', function (e) {
                var youFrame =  $('#belightTanitim');
                var url = youFrame.attr('src');
                youFrame.attr('src', '');
                youFrame.attr('src', url);
            })
        });
    </script>
{% endblock %}