{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="slider corporate-index__slider">
        <div>
            <img src="img/slider1.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">
        </div>
        <div>
            <img src="img/slider2.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">

        </div>
        <div>
            <img src="img/slider3.jpg" class="img-responsive hidden-xs">
            <img src="img/mobile-slide.jpg" class="img-responsive visible-xs">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>ÜRÜNLERİMİZ</h2>
            <div class="ecommerce-home-products">
            {% for i in [1,2,3,4,5,6,7,8,9] %}
                {% include "partials/ecommerce-index__product.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="js/slick.min.js"></script>
<script src="js/corporate-index.js"></script>

{% endblock %}