{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title title-blue">KULLANIM KOŞULLARI</h2>
            <p>Üyelerimizin-müşterilerimizin sitemize üyelikleri, vermiş olduğu bilgilerin gizliliği, korunması, ilgili işlemleri ve Sitemizden satışlara ilişkin hususlarda aşağıdaki cari esaslar benimsenmiştir.</p>
            <p>Sitemize girilen bilgilerin ve işlemlerin güvenliği için gerekli önlemler, bilgi ve işlemin mahiyetine göre. ve/veya ilgili Kart Kuruluşlarınca sistem ve internet altyapısında alınmıştır. Tüm kredi kartı işlemleri ve onayları tarafımızdan bağımsız olarak ilgili Banka ve benzeri Kart Kuruluşları'nca online olarak aranızda gerçekleştirilmektedir (Kredi kartı şifresi gibi bilgi tarafından görülmez ve kaydedilmez).</p>
            <p>Müşterilerimizin Sitemize üyelik, ürün/hizmet satın alma ve bilgi güncelleme amaçlı girdikleri bilgiler, özellikle kredi kartı ve banka kartlarına ait gizli bilgiler diğer internet kullanıcıları tarafından görüntülenemez.</p>
            <p>Üyelerimize-Müşterilerimize ait bilgiler yasal düzenlemelerin öngördüğü sorumluluklarımız çerçevesinde ilgili kuruluşlara açıklanabilir. Ayrıca üyelikleri ve/veya alışverişleri sırasında vermiş oldukları iletişim bilgileri ve diğer bilgiler Sitemize üyelik işlemlerinizin yapılması, güncellenmesi, muhtelif ürün/hizmetleri ile iş ortakları ve tedarikçileri tarafından verilebilmesi/satımı, ürün/hizmet ücret-masrafı tahsilatları ve çeşitli tanıtım, reklam, promosyon, iletişim, satış ve kartlandırma uygulamaları için süresiz olarak kayda alınabilir, nezdinde saklanabilir, işlenebilir, gerekli görülen hallerde-yerlerde paylaşılabilir ve kullanılabilir.</p>
            <p>Sitemizin diğer internet-web sitelerine bağlantı verdiği hallerde tüm kullanım ve işlemler için o sitelere ait gizlilik-güvenlik politikası ve kullanım şartları geçerlidir; Sitemizden reklam, banner, içerik görmek veya başka herhangi bir amaç ile ulaşılan diğer web sitelerinden bilgi kullanımları, keza sitelerin etik ilkeleri, gizlilik-güvenlik prensipleri, servis kalitesi ve diğer uygulamaları sebebi ile oluşabilecek ihtilaf, maddi-manevi zarar ve kayıplardan sorumlu değildir.</p>
            <p>Sitemizden satın alınan ürünler sadece Sitemize iade edilebilir.</p>
            <p>Sitemizde mevcut hafifletme- zayıflatma ürünleri ile elde edileceği belirtilen kilo kayıpları, sağlık sorunu olmayan ve ortalama bünyeler için gözlemlenen çoğunluğun sonuçlarını ifade eder. Günlük hareket ve bünye farklılıkları sebebi ile kişilere göre zayıflama aralığı değişkenlik gösterebilecektir.</p>
            <p>Besin kalori değerleri www.belight.com.tr diyetisyenleri ve gıda mühendisleri tarafından organize edilen www.belightcom.tr mönüleri hastalık, alerji gibi kişisel sağlık sorunları göz önünde bulundurulmadan hazırlandığından, Alıcı’nın bu gibi durumlarda sipariş vermeden önce doktoruna danışması gerekir.www.belight.com.tr, Alıcı’nın hastalık veya gıda alerjisi gibi nedenlerle karşılaşılabileceği sağlık problemlerinden ve belirlediği hedefe ulaşamamasından sorumlu değildir.</p>
            <p>Alıcı, www.belightcom.tr diyetisyenlerinin günlük mönülerinin organize edilmesinde yol göstericilik yaptığını, www.belightcom.tr diyetisyenleri ile web sitesi üzerinden, e-mail yoluyla veya telefonla yaptığı görüşmelerin özel sağlık sorunlarının göz önünde bulundurulmadığı genel tavsiyeler mahiyetinde olduğunu, özel sağlık sorunlarının bulunması durumunda bu görüşmelerle yetinmeyip diyetisyeni veya doktoruna danışması gerektiğini bildiğini beyan eder.</p>
            <p>İade edilecek ürünler için fatura ibraz etmek zorunludur. ALICI kurumsal firma ise iade faturasının kesilmesi zorunludur. Sitemizden satın alınan ürünler için ödeme sadece kredi kartıyla ve sitemizde belirtilen diğer yöntemler ile yapılabilir. Sitemizden sadece İstanbul il sınırları ve sitede belirtilen bölgelere gönderim yapılmaktadır. Ürünlerin gönderim taahhüdü sitenin siparişe onay verdiği bölgelerle sınırlıdır.</p>
            <p>Sitemiz üyeliğinden ayrılmak için www.belightcom.tr’un gönderdiği tüm e-postalarda yer alan “üyelikten ayrıl” linkini kullanabilirsiniz</p>
            <p>Sitemizden üye olmaksızın alışverişlerinizde her işlem sırasında göreceğiniz ilgili mesafeli satış sözleşmesi de geçerli olacaktır. Ek bilgi almak istediğiniz konularda Sitemizde belirtilen iletişim yolları ile danışabilirsiniz.</p>
            <p>Yukarıdaki esasları Üye-Müşteri olarak benimsiyor ve İnternet sitenizin formunda belirttiğim kişisel ve diğer bilgilerimin Şirketiniz ile tarafından her türlü tanıtım, reklam, promosyon, iletişim, satış, pazarlama, mağaza kartı,kredi kartı ve üyelik uygulamaları için süresiz olarak veya öngörecekleri süre ile kaydedilmesine, yazılı/manyetik arşivlerde tutulmasına, muhafazasına, işlenmesine, güncellenmesine, paylaşılmasına, transferine ve kullanılmasına izin veriyorum.</p>
        </div>
    </div>
{% endblock %}