{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container__login">
                <h2>ÜYE KAYIT</h2>
            </div>
            <div class="container__login">
                <div class="container__login__form">
                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-isim">
                        <label class="float" for="input-isim">
                            İsim
                        </label>
                    </div>
                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-soyisim">
                        <label class="float" for="input-soyisim">
                            Soyisim
                        </label>
                    </div>
                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-dogumtarihi">
                        <label class="float" for="input-dogumtarihi">
                            Doğum Tarihi
                        </label>
                    </div>

                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="email" id="input-eposta">
                        <label class="float" for="input-eposta">
                            E-posta
                        </label>
                    </div>
                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-telefon">
                        <label class="float" for="input-telefon">
                            Telefon
                        </label>
                    </div>

                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <select id="select-cinsiyet" class="wide">
                            <option value="1">Kadın</option>
                            <option value="2">Erkek</option>
                        </select>
                        <label class="float floating" for="select-cinsiyet">
                            Cinsiyet
                        </label>
                    </div>


                    <div class="container__login__form__item">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="password" id="input-sifre">
                        <label class="float" for="input-sifre">
                            Şifre
                        </label>
                    </div>

                    <div class="container__login__form__item captcha-container">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-captcha">
                        <label class="float" for="input-captcha">
                            Güvenlik Kodu
                        </label>
                        <div class="captcha">

                        </div>
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div class="pretty">
                            <input type="checkbox" id="kampanya-eposta"/>
                            <label for="kampanya-eposta">
                                <i class="fa fa-check"></i>
                                <span>
                                    Kampanyalardan e-posta yoluyla haberdar olmak istiyorum.
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div class="pretty">
                            <input type="checkbox" id="kampanya-sms"/>
                            <label for="kampanya-sms"><i class="fa fa-check"></i>
                                <span>
                                    Kampanyalardan SMS yoluyla haberdar olmak istiyorum.
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div class="pretty">
                            <input type="checkbox" id="kampanya-uyelik-sozlesmesi"/>
                            <label for="kampanya-uyelik-sozlesmesi"><i class="fa fa-check"></i>
                                <span>
                                    <a href="#" onclick="contractClick()" >
                                        Üyelik sözleşmesi
                                    </a>
                                    ’ni okudum ve kabul ediyorum.
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="container__login__form__item">
                        <button class="button button__blue button__large" href="#">Kayıt Ol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container__login__image">
        <img src="img/login.png">
    </div>

    <!-- Modal -->
    <div class="modal fade contractModal" id="uyelikSozlesmeModal" tabindex="-1" role="dialog" aria-labelledby="Belight Üyelik Sözleşmesi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>
                        Üyelik Sözleşmesi
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisl turpis, dictum non lorem id, dictum euismod elit. In augue mi, venenatis at iaculis vitae, hendrerit at turpis. Nunc pellentesque, lectus nec imperdiet pretium, lectus augue rutrum dui, sit amet imperdiet nisi lacus ac urna. Etiam in risus purus. Maecenas eu lacus odio. Duis aliquam gravida faucibus. In eget egestas lorem. Nam a leo a enim sollicitudin iaculis.
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="uyelikSozlesmesiOnay" class="button button__green button__large" href="#">Kabul Ediyorum</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/jquery.inputmask.bundle.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/all-input.js"></script>
    <script src="js/inputmask.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/ecommerce-contract.js"></script>
    <script>
        $('select').niceSelect();
    </script>

{% endblock %}