{% extends "partials/ecommerce-base-logged-in.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="basket__navigation teslimat">
                <a href="" class="completed">
                    <i class="fa fa-shopping-basket"></i>
                    <h3>Sepetim</h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="" class="active">
                    <i class="fa fa-truck"></i>
                    <h3>
                        <span>Teslimat</span>
                        <span class="small">Bilgilerim</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-credit-card"></i>
                    <h3>
                        <span>Ödeme</span>
                        <span class="small">Seçenekleri</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-check"></i>
                    <h3>
                        <span>Sipariş</span>
                        <span class="small">Onayı</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="basket__left">
                <div class="row">
                    <div class="teslimat__container">
                        <div class="teslimat__selectList">
                            <div class="basket-adres__head">
                                <span>
                                TESLİMAT ADRESİ
                            </span>
                                <a class="button button__blue button__small" href="#">
                                    Yeni Adres Ekle
                                </a>
                            </div>
                            <div class="basket-adres__list">
                                <div class="basket-adres__detay">
                                    <div class="basket-adres__checkbox">
                                        <div class="pretty circle primary">
                                            <input type="radio" name="radioTeslimat" id="radio19">
                                            <label for="radio19">
                                                <i class="default"></i></label>
                                        </div>
                                    </div>
                                    <div class="basket-adres__content">
                                        <div>
                                            <h4>Ev</h4>
                                            <p>
                                                Ad Soyad
                                            </p>
                                            <p>
                                                A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                                            </p>
                                        </div>
                                        <div class="basket-adres__buttons">
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Düzenle
                                            </a>
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="basket-adres__detay">
                                    <div class="basket-adres__checkbox">
                                        <div class="pretty circle primary">
                                            <input type="radio" name="radioTeslimat" id="radio19">
                                            <label for="radio19">
                                                <i class="default"></i></label>
                                        </div>
                                    </div>
                                    <div class="basket-adres__content">
                                        <div>
                                            <h4>Ev</h4>
                                            <p>
                                                Ad Soyad
                                            </p>
                                            <p>
                                                A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                                            </p>
                                        </div>
                                        <div class="basket-adres__buttons">
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Düzenle
                                            </a>
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="basket-adres__detay">
                                    <div class="basket-adres__checkbox">
                                        <div class="pretty circle primary">
                                            <input type="radio" name="radioTeslimat" id="radio19">
                                            <label for="radio19">
                                                <i class="default"></i></label>
                                        </div>
                                    </div>
                                    <div class="basket-adres__content">
                                        <div>
                                            <h4>Ev</h4>
                                            <p>
                                                Ad Soyad
                                            </p>
                                            <p>
                                                A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                                            </p>
                                        </div>
                                        <div class="basket-adres__buttons">
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Düzenle
                                            </a>
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="pretty">
                        <input type="checkbox" id="checkbox-teslimat-fatura-ayni">
                        <label for="checkbox-teslimat-fatura-ayni">
                            <i class="fa fa-check"></i><span>Farklı fatura adresi girmek istiyorum.</span></label>
                    </div>
                    <div class="fatura__container">
                        <div class="fatura__selectList">
                            <div class="basket-adres__head">
                                <span>
                                FATURA ADRESİ
                            </span>
                                <a class="button button__blue button__small" href="#">
                                    Yeni Adres Ekle
                                </a>
                            </div>
                            <div class="basket-adres__list">
                                <div class="basket-adres__detay">
                                    <div class="basket-adres__checkbox">
                                        <div class="pretty circle primary">
                                            <input type="radio" name="radioFatura" id="radio20">
                                            <label for="radio20">
                                                <i class="default"></i></label>
                                        </div>
                                    </div>
                                    <div class="basket-adres__content">
                                        <div>
                                            <h4>Ev</h4>
                                            <p>
                                                Ad Soyad
                                            </p>
                                            <p>
                                                A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                                            </p>
                                        </div>
                                        <div class="basket-adres__buttons">
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Düzenle
                                            </a>
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="basket-adres__detay">
                                    <div class="basket-adres__checkbox">
                                        <div class="pretty circle primary">
                                            <input type="radio" name="radioFatura" id="radio20">
                                            <label for="radio20">
                                                <i class="default"></i></label>
                                        </div>
                                    </div>
                                    <div class="basket-adres__content">
                                        <div>
                                            <h4>Ev</h4>
                                            <p>
                                                Ad Soyad
                                            </p>
                                            <p>
                                                A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                                            </p>
                                        </div>
                                        <div class="basket-adres__buttons">
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Düzenle
                                            </a>
                                            <a class="button button__orange button__small" href="#">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="teslimat__container">
                        <div class="teslimat-saati">
                            <div class="teslimat-saati__title">
                                TESLİMAT SAATİ
                            </div>
                            <select class="wide">
                                <option value="10.00 - 16.00">10.00 - 16.00</option>
                                <option value="16.00 - 22.00">16.00 - 22.00</option>
                            </select>
                        </div>
                    </div>
                    <div class="fatura-uye-degil__container">
                        <div class="teslimat__kargo">
                            <div class="kargo__title">
                                KARGO
                            </div>
                            <form class="input-list" action="">
                                <div>
                                    <input type="radio" id="basket-kargo__aras1">
                                    <label for="basket-kargo__aras1">
                                        <img src="img/araskargo_161x64.jpg" alt="Aras Kargo">
                                        <span class="kargo-is-gunu">1-3 İş Günü</span>
                                        <span class="kargo-ucret">10 TL</span>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" id="basket-kargo__ups1">
                                    <label for="basket-kargo__ups1">
                                        <img src="img/aras_kapidaodeme_161x64.jpg" alt="Aras Kargo Kapıda Ödeme">
                                        <span class="kargo-is-gunu">1-3 İş Günü</span>
                                        <span class="kargo-ucret">10 TL</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basket__right">
                <div class="basket__mini-product-list">
                    <span class="title">
                        SİPARİŞ ÖZETİ
                    </span>
                    <ul>
                        <li>
                            <div class="mpl-img">
                                <img src="img/product/productSliderImageThumb.png" alt="Ürün İsmi">
                            </div>
                            <div class="mpl-desc">
                                <span class="mpl-quantity">
                                    1 adet
                                </span>
                                <span class="mpl-title">
                                    6'lı Juice Detox Kendin Yarat
                                </span>
                            </div>
                            <div class="mpl-price">
                                <span>
                                    280
                                </span>
                                <span>
                                    TL
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="mpl-img">
                                <img src="img/product/productSliderImageThumb.png" alt="Ürün İsmi">
                            </div>
                            <div class="mpl-desc">
                                <span class="mpl-quantity">
                                    5 adet
                                </span>
                                <span class="mpl-title">
                                    6'lı Juice Detox
                                </span>
                            </div>
                            <div class="mpl-price">
                                <span>
                                    280
                                </span>
                                <span>
                                    TL
                                </span>
                            </div>
                        </li>

                    </ul>
                </div>

                <ul class="basket__summary-list">
                    <li>
                        <div>
                            Ara Toplam
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            Kargo Ücreti
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                0
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            TOPLAM
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="basket__buttons">
                    <button class="button button__orange button__large" href="#">Devam Et</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade addressModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="teslimat__bireysel-kurumsal">
                            <form>
                                <input type="radio" checked="checked" id="teslimat__bireysel" value="bireysel" name="teslimatBireyselKurumsalRadio">
                                <label for="teslimat__bireysel">
                                    Bireysel
                                </label>
                                <input type="radio" id="teslimat__kurumsal" value="kurumsal" name="teslimatBireyselKurumsalRadio">
                                <label for="teslimat__kurumsal">
                                    Kurumsal
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class=" teslimatBireyselSelected">
                        <div class="teslimat__left">
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-bireysel-ad">
                                    <label class="float" for="input-teslimat-bireysel-ad">
                                        Ad
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-bireysel-soyad">
                                    <label class="float" for="input-teslimat-bireysel-soyad">
                                        Soyad
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item teslimat__select">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <select class="wide">
                                        <option value="istanbul">İstanbul</option>
                                        <option value="ankara">Ankara</option>
                                        <option value="izmir">İzmir</option>
                                    </select>
                                    <label class="float floating">İl</label>
                                </div>
                                <div class="teslimat__item teslimat__select">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <select class="wide">
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                    </select>
                                    <label class="float floating">İlçe</label>
                                </div>
                            </div>
                        </div>
                        <div class="teslimat__right">
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-tckn">
                                    <label class="float" for="input-teslimat-tckn">
                                        T.C. Kimlik No
                                    </label>
                                </div>
                            </div>

                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-bireysel-ev-telefonu">
                                    <label class="float" for="input-teslimat-bireysel-ev-telefonu">
                                        Ev Telefonu
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-bireysel-cep-telefonu">
                                    <label class="float" for="input-teslimat-bireysel-cep-telefonu">
                                        Cep Telefonu
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-eposta">
                                    <label class="float" for="input-teslimat-eposta">
                                        E-posta
                                    </label>
                                </div>
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-posta-kodu">
                                    <label class="float" for="input-teslimat-posta-kodu">
                                        Posta Kodu
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class=" teslimatKurumsalSelected">
                        <div class="teslimat__left">
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-kurumsal-ad">
                                    <label class="float" for="input-teslimat-kurumsal-ad">
                                        Ad
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-kurumsal-soyad">
                                    <label class="float" for="input-teslimat-kurumsal-soyad">
                                        Soyad
                                    </label>
                                </div>
                            </div>

                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-kurumsal-ev-telefonu">
                                    <label class="float" for="input-teslimat-kurumsal-ev-telefonu">
                                        Ev Telefonu
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-kurumsal-cep-telefonu">
                                    <label class="float" for="input-teslimat-kurumsal-cep-telefonu">
                                        Cep Telefonu
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item teslimat__select">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <select class="wide">
                                        <option value="istanbul">İstanbul</option>
                                        <option value="ankara">Ankara</option>
                                        <option value="izmir">İzmir</option>
                                    </select>
                                    <label class="float floating">İl</label>
                                </div>
                                <div class="teslimat__item teslimat__select">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <select class="wide">
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                    </select>
                                    <label class="float floating">İlçe</label>
                                </div>
                            </div>
                        </div>
                        <div class="teslimat__right">
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-vergi-no">
                                    <label class="float" for="input-teslimat-vergi-no">
                                        Vergi No
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-firma-adi">
                                    <label class="float" for="input-teslimat-firma-adi">
                                        Firma Adı
                                    </label>
                                </div>
                            </div>
                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item teslimat__select">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <select class="wide">
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                        <option value="atasehir">Ataşehir</option>
                                        <option value="kadikoy">Kadıköy</option>
                                        <option value="uskudar">Üsküdar</option>
                                    </select>
                                    <label class="float floating">Vergi Dairesi</label>
                                </div>
                            </div>

                            <div class="basket__left__teslimat__adresi">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-eposta">
                                    <label class="float" for="input-teslimat-eposta">
                                        E-posta
                                    </label>
                                </div>
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <input type="text" id="input-teslimat-posta-kodu">
                                    <label class="float" for="input-teslimat-posta-kodu">
                                        Posta Kodu
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="teslimat__full">
                            <div class="basket__left__teslimat__adresi popover-error">
                                <div class="teslimat__item">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            Hata
                                        </div>
                                    </div>
                                    <textarea id="input-detayli-adres"></textarea>
                                    <label class="float" for="input-detayli-adres">
                                        Detaylı Adres
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="button button__large button__blue">Yeni Adres Ekle</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/all-input.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ecommerce-selector.js"></script>

{% endblock %}
