{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="404message">
                 <span class="">

                 </span>
             </div>
        </div>
    </div>
{% endblock %}