{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="basket__navigation teslimat">
                <a href="" class="completed">
                    <i class="fa fa-shopping-basket"></i>
                    <h3>Sepetim</h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="" class="active">
                    <i class="fa fa-truck"></i>
                    <h3>
                        <span>Teslimat</span>
                        <span class="small">Bilgilerim</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-credit-card"></i>
                    <h3>
                        <span>Ödeme</span>
                        <span class="small">Seçenekleri</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-check"></i>
                    <h3>
                        <span>Sipariş</span>
                        <span class="small">Onayı</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="basket__left">
                <div class="row">
                    <div class="teslimat__container">
                        <div class="row">
                            <div class="teslimat__full">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-adresi">
                                        <label class="float" for="input-teslimat-adresi">
                                            Teslimat Adresi
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="teslimat__bireysel-kurumsal">
                                <form>
                                    <input type="radio" checked="checked" id="teslimat__bireysel" value="bireysel" name="teslimatBireyselKurumsalRadio">
                                    <label for="teslimat__bireysel">
                                        Bireysel
                                    </label>
                                    <input type="radio" id="teslimat__kurumsal" value="kurumsal" name="teslimatBireyselKurumsalRadio">
                                    <label for="teslimat__kurumsal">
                                        Kurumsal
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="row teslimatBireyselSelected">
                            <div class="teslimat__left">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-bireysel-ad">
                                        <label class="float" for="input-teslimat-bireysel-ad">
                                            Ad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-bireysel-soyad">
                                        <label class="float" for="input-teslimat-bireysel-soyad">
                                            Soyad
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="teslimat__right">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-tckn">
                                        <label class="float" for="input-teslimat-tckn">
                                            T.C. Kimlik No
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi teslimat__adresi2">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-bireysel-ev-telefonu">
                                        <label class="float" for="input-teslimat-bireysel-ev-telefonu">
                                            Ev Telefonu
                                        </label>
                                    </div>
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-bireysel-cep-telefonu">
                                        <label class="float" for="input-teslimat-bireysel-cep-telefonu">
                                            Cep Telefonu
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row teslimatKurumsalSelected">
                            <div class="teslimat__left">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-kurumsal-ad">
                                        <label class="float" for="input-teslimat-kurumsal-ad">
                                            Ad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-kurumsal-soyad">
                                        <label class="float" for="input-teslimat-kurumsal-soyad">
                                            Soyad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi teslimat__adresi2">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-kurumsal-ev-telefonu">
                                        <label class="float" for="input-teslimat-kurumsal-ev-telefonu">
                                            Ev Telefonu
                                        </label>
                                    </div>
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-kurumsal-cep-telefonu">
                                        <label class="float" for="input-teslimat-kurumsal-cep-telefonu">
                                            Cep Telefonu
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="teslimat__right">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-vergi-no">
                                        <label class="float" for="input-teslimat-vergi-no">
                                            Vergi No
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-firma-adi">
                                        <label class="float" for="input-teslimat-firma-adi">
                                            Firma Adı
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item teslimat__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                        </select>
                                        <label class="float floating">Vergi Dairesi</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="teslimat__left">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-eposta">
                                        <label class="float" for="input-teslimat-eposta">
                                            E-posta
                                        </label>
                                    </div>
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-teslimat-posta-kodu">
                                        <label class="float" for="input-teslimat-posta-kodu">
                                            Posta Kodu
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="teslimat__right">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item teslimat__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="istanbul">İstanbul</option>
                                            <option value="ankara">Ankara</option>
                                            <option value="izmir">İzmir</option>
                                        </select>
                                        <label class="float floating">İl</label>
                                    </div>
                                    <div class="teslimat__item teslimat__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                        </select>
                                        <label class="float floating">İlçe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="teslimat__full">
                                <div class="basket__left__teslimat__adresi">
                                    <div class="teslimat__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <textarea id="input-detayli-adres"></textarea>
                                        <label class="float" for="input-detayli-adres">
                                            Detaylı Adres
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="teslimat__full">
                                <div class="basket__left__checkbox">
                                    <div class="pretty">
                                        <input type="checkbox" id="checkbox-teslimat-fatura-ayni">
                                        <label for="checkbox-teslimat-fatura-ayni">
                                            <i class="fa fa-check"></i><span>Farklı fatura adresi girmek istiyorum.</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fatura__container">
                        <div class="row">
                            <div class="fatura__full">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-adresi">
                                        <label class="float" for="input-fatura-adresi">
                                            Fatura Adresi
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fatura__bireysel-kurumsal">
                                <form>
                                    <input type="radio" checked="checked"  id="fatura__bireysel" value="bireysel" name="faturaBireyselKurumsalRadio">
                                    <label for="fatura__bireysel">
                                        Bireysel
                                    </label>
                                    <input type="radio" id="fatura__kurumsal" value="kurumsal" name="faturaBireyselKurumsalRadio">
                                    <label for="fatura__kurumsal">
                                        Kurumsal
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="row faturaBireyselSelected">
                            <div class="fatura__left">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-ad">
                                        <label class="float" for="input-fatura-ad">
                                            Ad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-soyad">
                                        <label class="float" for="input-fatura-soyad">
                                            Soyad
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="fatura__right">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-tckn">
                                        <label class="float" for="input-fatura-tckn">
                                            T.C. Kimlik No
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi fatura__adresi2">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-ev-telefonu">
                                        <label class="float" for="input-fatura-ev-telefonu">
                                            Ev Telefonu
                                        </label>
                                    </div>
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-cep-telefonu">
                                        <label class="float" for="input-fatura-cep-telefonu">
                                            Cep Telefonu
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row faturaKurumsalSelected">
                            <div class="fatura__left">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-ad">
                                        <label class="float" for="input-fatura-ad">
                                            Ad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-soyad">
                                        <label class="float" for="input-fatura-soyad">
                                            Soyad
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi fatura__adresi2">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-ev-telefonu">
                                        <label class="float" for="input-fatura-ev-telefonu">
                                            Ev Telefonu
                                        </label>
                                    </div>
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-cep-telefonu">
                                        <label class="float" for="input-fatura-cep-telefonu">
                                            Cep Telefonu
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="fatura__right">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-vergi-no">
                                        <label class="float" for="input-fatura-vergi-no">
                                            Vergi No
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-firma-adi">
                                        <label class="float" for="input-fatura-firma-adi">
                                            Firma Adı
                                        </label>
                                    </div>
                                </div>
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item fatura__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                        </select>
                                        <label class="float floating">Vergi Dairesi</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="fatura__left">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-eposta">
                                        <label class="float" for="input-fatura-eposta">
                                            E-posta
                                        </label>
                                    </div>
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-fatura-posta-kodu">
                                        <label class="float" for="input-fatura-posta-kodu">
                                            Posta Kodu
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="fatura__right">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item fatura__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="istanbul">İstanbul</option>
                                            <option value="ankara">Ankara</option>
                                            <option value="izmir">İzmir</option>
                                        </select>
                                        <label class="float floating">İl</label>

                                    </div>
                                    <div class="fatura__item fatura__select">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <select class="wide">
                                            <option value="atasehir">Ataşehir</option>
                                            <option value="kadikoy">Kadıköy</option>
                                            <option value="uskudar">Üsküdar</option>
                                        </select>
                                        <label class="float floating">İlçe</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fatura__full">
                                <div class="basket__left__fatura__adresi">
                                    <div class="fatura__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <textarea id="input-detayli-adres"></textarea>
                                        <label class="float" for="input-detayli-adres">
                                            Detaylı Adres
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="teslimat__container">
                        <div class="teslimat-saati">
                            <div class="eslimat-saati__title">
                                TESLİMAT SAATİ
                            </div>
                            <select class="wide">
                                <option value="10.00 - 16.00">10.00 - 16.00</option>
                                <option value="16.00 - 22.00">16.00 - 22.00</option>
                            </select>
                        </div>
                        <div class="teslimat__kargo">
                            <div class="kargo__title">
                                KARGO
                            </div>
                            <form class="input-list" action="">
                                <div>
                                    <input type="radio" id="basket-kargo__aras1">
                                    <label for="basket-kargo__aras1">
                                        <img src="img/araskargo_161x64.jpg" alt="Aras Kargo">
                                        <span class="kargo-is-gunu">1-3 İş Günü</span>
                                        <span class="kargo-ucret">10 TL</span>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" id="basket-kargo__ups1">
                                    <label for="basket-kargo__ups1">
                                        <img src="img/aras_kapidaodeme_161x64.jpg" alt="Aras Kargo Kapıda Ödeme">
                                        <span class="kargo-is-gunu">1-3 İş Günü</span>
                                        <span class="kargo-ucret">10 TL</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basket__right">
                <ul class="basket__summary-list">
                    <li>
                        <div>
                            Ara Toplam
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            Kargo Ücreti
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                0
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            TOPLAM
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="basket__buttons">
                    <button class="button button__orange button__large" href="#">Devam Et</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/all-input.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').niceSelect();
            $("#checkbox-teslimat-fatura-ayni").change(function() {
                if(this.checked) {
                    $(".fatura__container").show();
                } else {
                    $(".fatura__container").hide();
                }
            });
            $('input[type=radio][name=faturaBireyselKurumsalRadio]').change(function() {
                if (this.value === 'bireysel') {
                    $(".faturaKurumsalSelected").hide();
                    $(".faturaBireyselSelected").show();
                }
                else if (this.value === 'kurumsal') {
                    $(".faturaBireyselSelected").hide();
                    $(".faturaKurumsalSelected").show();
                }
            });
            $('input[type=radio][name=teslimatBireyselKurumsalRadio]').change(function() {
                if (this.value === 'bireysel') {
                    $(".teslimatKurumsalSelected").hide();
                    $(".teslimatBireyselSelected").show();
                }
                else if (this.value === 'kurumsal') {
                    $(".teslimatBireyselSelected").hide();
                    $(".teslimatKurumsalSelected").show();
                }
            });
        });
    </script>
{% endblock %}