{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="basket__navigation teslimat">
                <a href="" class="completed">
                    <i class="fa fa-shopping-basket"></i>
                    <h3>Sepetim</h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="" class="completed">
                    <i class="fa fa-truck"></i>
                    <h3>
                        <span>Teslimat</span>
                        <span class="small">Bilgilerim</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="" class="active">
                    <i class="fa fa-credit-card"></i>
                    <h3>
                        <span>Ödeme</span>
                        <span class="small">Seçenekleri</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-check"></i>
                    <h3>
                        <span>Sipariş</span>
                        <span class="small">Onayı</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="basket__left">
                <div class="odeme-secenkleri__container">
                    <div class="odeme-secenkleri__tab-bar">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#kredi-karti" aria-controls="kredi-karti" role="tab" data-toggle="tab"><i class="fa fa-credit-card"></i>Kredi veya Banka Kartı ile Öde</a>
                            </li>
                            <li role="presentation">
                                <a href="#havale" aria-controls="havale" role="tab" data-toggle="tab"><i class="fa fa-exchange"></i>Havale ile Öde</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="kredi-karti">
                            <div class="kredi-karti__bilgileri">
                                <div class="kredi-karti__bilgileri__item__container">
                                    <div class="kredi-karti__bilgileri__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-kredi-karti-no">
                                        <label class="float" for="input-kredi-karti-no">
                                            Kredi Kartı Numarası
                                        </label>
                                    </div>
                                    <div class="kredi-karti__bilgileri__item">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <input type="text" id="input-kredi-kart-sahibi">
                                        <label class="float" for="input-kredi-kart-sahibi">
                                            Kart Sahibinin İsmi
                                        </label>
                                    </div>
                                    <div class="kredi-karti__bilgileri__item kredi-karti__bilgileri__item-row">
                                    <div class="kredi-karti__bilgileri__skt">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <label>Son Kullanma Tarihi</label>
                                        <div class="kredi-karti__bilgileri__skt__options">
                                            <select class="wide">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <select class="wide">
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="kredi-karti__bilgileri__guvenlik-kodu">
                                        <div class="popover top">
                                            <div class="arrow"></div>
                                            <div class="popover-content">
                                                Hata
                                            </div>
                                        </div>
                                        <label class="" for="input-kredi-kart-sahibi">
                                            Güvenlik Kodu
                                        </label>
                                        <input type="text" id="input-kredi-kart-sahibi">
                                    </div>
                                </div>
                                </div>
                                <div class="kredi-karti__taksit-secenekleri">
                                    TAKSİT SEÇENEKLERİ
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="havale">
                            <div class="havale__bilgileri">
                                <h3>Havale Yapabileceğiniz Bankalar</h3>
                                <div class="havale__bilgileri__radio__container">
                                    <input type="radio" checked="checked" id="havale__bilgileri__radio">
                                    <label for="havale__bilgileri__radio">Garanti Bankası: <span>TR78 0006 2000 2110 0006 2973 45</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siparis-notu__checkbox__container">
                    <input type="checkbox" id="checkbox-siparis-notu">
                    <label for="checkbox-siparis-notu">Sipariş notu eklemek istiyorum</label>
                    <div class="havale__bilgileri__siparis-notu">
                        <textarea id="input-siparis-notu"></textarea>
                        <label class="float" for="input-siparis-notu">
                            Notunuz
                        </label>
                    </div>
                    <div>
                        <div class="pretty">
                            <input type="checkbox" id="mesafeliSatisSozlesmesi" class="not-empty">
                            <label for="remember-me" class="floating"><i class="fa fa-check"></i><span id="mesafeliSatisSozlesmesiLabel">Mesafeli Satış sözleşmesi</span>'ni okudum ve onaylıyorum.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basket__right">
                <ul class="basket__summary-list">
                    <li>
                        <div>
                            Ara Toplam
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            Kargo Ücreti
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                0
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            TOPLAM
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="basket__buttons">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="mesafeliSatisSozlesmesiModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Üyelik Sözleşmesi</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt lorem vitae orci semper auctor. Mauris finibus a lacus in lacinia. Sed sed pharetra felis. Etiam id ex erat. Nulla a semper nisl, ac rutrum ante.</p>
                    <p>Integer ultricies, sapien hendrerit scelerisque blandit, quam nisl porttitor augue, vitae tincidunt purus tortor a ex. Nulla pulvinar finibus lorem mollis laoreet. Vivamus pharetra lacus et pellentesque vehicula. Phasellus dictum imperdiet faucibus. Morbi tempor consequat nunc, at tincidunt lectus condimentum id. Quisque id ante et turpis aliquet tempus in nec tellus.</p>
                    <p>Nullam commodo, erat ac tempus viverra, elit dolor ultrices elit, et varius lacus sapien ac ligula. Nulla mi diam, mattis sed volutpat eu, mattis eget ante. Nulla scelerisque, ex quis condimentum pellentesque, erat orci elementum lectus, non varius odio metus ut lacus. Mauris nec iaculis est. In tristique diam mauris, feugiat luctus sem pretium nec. In luctus ipsum ac diam consectetur hendrerit id id ipsum. Cras velit elit, efficitur non ex scelerisque, commodo elementum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a nunc sit amet ligula maximus rutrum sit amet sit amet tortor. Sed non nibh metus. Aliquam ac massa at nulla ultricies elementum quis eget dolor. Ut consectetur in urna non auctor. Fusce eleifend facilisis sagittis. Etiam tortor magna, convallis sit amet est sit amet, rutrum lobortis purus.</p>
                </div>
                <div class="modal-footer">
                    <div class="signup-form-footer signup-form-footer-centered">
                        <div class="signup-form-button-container signup-form-uyelik-button-container">
                            <a href="#" id="mesafeliSatisSozlesmesiOnay">Okudum ve Kabul Ediyorum</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block script %}
    <script src="js/jquery.min.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ecommerce-payment.js"></script>
    <script src="js/all-input.js"></script>

{% endblock %}