{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="product-top">
                <div class="product-left">
                    <div class="product-image-showroom">
                        <div class="product-img-slider">
                            <div class="slider-for">
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                                <div>
                                    <img src="img/product/productSliderImage.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-right">
                    <h1>
                        6'lı Juice Detox
                    </h1>
                    <span class="product-code">
                        ÜRÜN KODU : 100100
                    </span>
                    <p>
                        Günlük hayat hızla akıp giderken aynı hızla hafiflemek istiyorsan 6’lı Juice Detox’u yanından ayırma. İçerdiği doğal vitamin ve mineraller sayesinde vücudun  fazlalıklarından arındıkça ruhunun da hafifleyeceğini unutma!
                    </p>
                    <div class="product__price">
                        <div class="first-row">
                            <del>
                                240 TL
                            </del>
                            <div class="product__widgets">
                                <div class="product__widgets__item soguk-sikma">
                                    <img src="img/widgets/soguk-sikma.png" alt="Soğuk Sıkma">
                                </div>
                                <div class="product__widgets__item glutensiz">
                                    <img src="img/widgets/glutensiz.png" alt="Glutensiz">
                                </div>
                                <div class="product__widgets__item katkisiz">
                                    <img src="img/widgets/katkisiz.png" alt="Katkısız">
                                </div>
                            </div>
                        </div>
                        <div class="second-row">
                            <span class="sum">
                                140
                            </span>
                            <span class="sum-cents">
                                ,00
                            </span>
                            <span class="currency">
                                TL
                            </span>
                            <span class="tax">
                                (KDV Dahil)
                            </span>
                        </div>
                        <div>
                            <a class="button button__orange button__large" href="#">Satın Al</a>
                        </div>
                    </div>
                    <div class="new-product__price">
                        <div class="first-col">
                            <div>
                                <del>
                                    240 TL
                                </del>
                            </div>
                            <div>
                                <span class="sum">
                                    140
                                </span>
                                <span class="sum-cents">
                                    ,00
                                </span>
                                <span class="currency">
                                    TL
                                </span>
                            </div>
                            <div>
                                <span class="tax">
                                    (KDV Dahil)
                                </span>
                            </div>
                        </div>
                        <div class="second-col">
                            <div class="product__widgets">
                                <div class="product__widgets__item soguk-sikma">
                                    <img src="img/widgets/soguk-sikma.png" alt="Soğuk Sıkma">
                                </div>
                                <div class="product__widgets__item glutensiz">
                                    <img src="img/widgets/glutensiz.png" alt="Glutensiz">
                                </div>
                                <div class="product__widgets__item katkisiz">
                                    <img src="img/widgets/katkisiz.png" alt="Katkısız">
                                </div>
                            </div>

                            <div>
                                <a class="button button__orange button__large" href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <div class="product__shipment-info">
                        <div>
                            <img src="img/icons/product-delivery1.png" alt="">
                            <p>
                                Ürünler maksimum <span class="text-blue">2 iş günü</span> içerisinde teslim edilir.
                            </p>
                        </div>
                        <div>
                            <img src="img/icons/product-delivery2.png" alt="">
                            <p>
                                Perşembe günleri 17:00 'den sonra alınan siparişler Pazartesi günü teslim edilir.
                            </p>
                        </div>
                    </div>
                    <div class="product__suggest-box">
                        <h4>
                            Paket içeriğinin verimli olması için:
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    Açık havada hergün 1 saat yürüyüş yapılması
                                </p>
                            </li>
                            <li>
                                <p>
                                    Çay, kahve ve asitli içecekler  tüketilmemesi
                                    önerilmektedir.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="product-bottom">

                <div class="product__content">
                    <h2>
                        İçerik
                    </h2>
                    <div class="product__content__bottles product__info-tab">
                        <div class="product-content__bottle__item">
                            <img src="img/juice-variants/GreenJuice.png" alt="Green Juice">
                            <div>
                                <h5>
                                    GREEN
                                    <span>
                                        JUICE
                                    </span>
                                </h5>
                                <ul>
                                    <li>Salatalık</li>
                                    <li>Yeşil Elma</li>
                                    <li>Maydanoz</li>
                                    <li>Kereviz Sapı</li>
                                    <li>Taze Zencefil</li>
                                    <li>Lime</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content__bottle__item">
                            <img src="img/juice-variants/OdemCayi.png" alt="Ödem Çayı">
                            <div>
                                <h5>
                                    ÖDEM
                                    <span>
                                        ÇAYI
                                    </span>
                                </h5>
                                <ul>
                                    <li>Yeşil Elma</li>
                                    <li>Çubuk Tarçın</li>
                                    <li>Taze Zencefil</li>
                                    <li>Maydanoz</li>
                                    <li>Limon</li>
                                    <li>Kiraz Sapı</li>
                                    <li>Kuru Kayısı</li>
                                    <li>Karanfil</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content__bottle__item">
                            <img src="img/juice-variants/RelaxTea.png" alt="Relax Tea">
                            <div>
                                <h5>
                                    RELAX
                                    <span>
                                        TEA
                                    </span>
                                </h5>
                                <ul>
                                    <li>Melisa</li>
                                    <li>Papatya</li>
                                    <li>Kurutulmuş</li>
                                    <li>Rezene</li>
                                    <li>Gül Kurusu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content__bottle__item">
                            <img src="img/juice-variants/BettyBoo.png" alt="Betty Boo">
                            <div>
                                <h5>
                                    BETTY
                                    <span>
                                        BOO
                                    </span>
                                </h5>
                                <ul>
                                    <li>Greyfurt</li>
                                    <li>Frambuaz</li>
                                    <li>Çilek</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__benefits">
                    <h2>
                        Faydaları
                    </h2>
                    <div class="product__benefits product__info-tab">
                        <div class="product__benefits__item bottle-item green-juice">
                            <h5>
                                GREEN
                                <span>
                                    JUICE
                                </span>
                            </h5>
                            <p>
                                Yüksek oranda lif içerir. Sindirim sistemini rahatlatır ve bağırsakları yumuşatır. Bağışıklık sistemini güçlendirir. Anti-aging özelliği ile yaşlanmayı geciktirir.
                            </p>
                        </div>
                        <div class="product__benefits__item bottle-item odem-cayi">
                            <h5>
                                ÖDEM
                                <span>
                                    ÇAYI
                                </span>
                            </h5>
                            <p>
                                Vücudu toksinlerden arındırır ve ödem atılmasını sağlar. Bağışıklık sistemini güçlendirir. İçerdiği antioksidanlarla cildi güzelleştirir.
                            </p>
                        </div>
                        <div class="product__benefits__item bottle-item relax-tea">
                            <h5>
                                RELAX
                                <span>
                                    TEA
                                </span>
                            </h5>
                            <p>
                                Mideyi rahatlatır ve iştahı bastırır. Sinirleri yatıştırarak sakinleştirir. Uyku problemlerine iyi gelir.
                            </p>
                        </div>
                        <div class="product__benefits__item bottle-item betty-boo">
                            <h5>
                                BETTY
                                <span>
                                    BOO
                                </span>
                            </h5>
                            <p>
                                Mideyi rahatlatır ve iştahı bastırır. Sinirleri yatıştırarak sakinleştirir. Uyku problemlerine iyi gelir.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="product__howto ">

                    <h2>
                        Nasıl Kullanılır?
                    </h2>

                    <div class="product__info-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus facilisis nunc, sit amet tristique dui dapibus bibendum. Cras non mollis dui. Donec vel odio ornare, convallis nulla sed, ornare purus. Morbi cursus faucibus mi eget pulvinar. In scelerisque in neque eu sollicitudin. Nullam congue a lorem in gravida. In pellentesque bibendum est, non venenatis ligula ornare nec. Aliquam fermentum sed sem ultrices dignissim.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sticky-price" style="display: none;">
        <div class="container">
            <div class="sticky-price-controls">
                <div class="sticky-product-name">
                    6'lı Juice Detox
                </div>

                <div class="sticky-product-prices">
                    <div>
                        <del>
                            240 TL
                        </del>
                    </div>
                    <div>
                        <span class="sum">
                            140
                        </span>
                        <span class="sum-cents">
                            ,00
                        </span>
                        <span class="currency">
                            TL
                        </span>
                    </div>
                </div>

                <div class="sticky-product-button">
                    <a class="button button__orange button__large" href="#">Satın Al</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade videoModal" id="indexVideo" tabindex="-1" role="dialog" aria-labelledby="Belight Tanıtım">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="floatingClose close" data-dismiss="modal" aria-label="Close">

                        <i class="fa fa-times-circle" aria-hidden="true"></i>

                    </button>

                    <iframe id="belightTanitim" width="100%" height="100%" src="https://www.youtube.com/embed/KDGf0-Z4rLc?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ecommerce-product-v2.js"></script>
    <script src="js/jquery.inview.min.js"></script>

    <script src="js/modal.js"></script>
    <script>
        $(document).ready(function() {
            $('#indexVideo').on('hidden.bs.modal', function (e) {
                var youFrame =  $('#belightTanitim');
                var url = youFrame.attr('src');
                youFrame.attr('src', '');
                youFrame.attr('src', url);
            });

            $('.product__price .button__orange').on('inview', function(event, isInView) {
                if (isInView) {
                    $('.sticky-price').hide();
                    $('.copyright').removeClass("product-copyright");
                } else {
                    $('.sticky-price').show();
                    $('.copyright').addClass("product-copyright");
                }
            });

            $('.new-product__price .button__orange').on('inview', function(event, isInView) {
                if (isInView) {
                    $('.sticky-price').hide();
                    $('.copyright').removeClass("product-copyright");
                } else {
                    $('.sticky-price').show();
                    $('.copyright').addClass("product-copyright");
                }
            });

        });
    </script>
{% endblock %}