{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>HESABIM</h2>
            <div class="hesabim__navigation">
                <a href="">
                    <div class="active">
                        <h3>Üyelik Bilgilerim</h3>
                        <div class="hesabim__navigation__icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                    </div>
                </a>
                <a href="">
                <div>
                    <h3>Şifre İşlemleri</h3>
                    <div class="hesabim__navigation__icon">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                </a>
                <a href="">
                <div>
                    <h3>Adres Bilgilerim</h3>
                    <div class="hesabim__navigation__icon">
                        <i class="fa fa-address-card"></i>
                    </div>
                </div>
                </a>
                <a href="">
                <div>
                    <h3>Siparişlerim</h3>
                    <div class="hesabim__navigation__icon">
                        <i class="fa fa-list-ul"></i>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}