{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="basket__navigation teslimat">
                <a href="" class="completed">
                    <i class="fa fa-shopping-basket"></i>
                    <h3>Sepetim</h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="" class="active">
                    <i class="fa fa-truck"></i>
                    <h3>
                        <span>Teslimat</span>
                        <span class="small">Bilgilerim</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-credit-card"></i>
                    <h3>
                        <span>Ödeme</span>
                        <span class="small">Seçenekleri</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
                <a href="">
                    <i class="fa fa-check"></i>
                    <h3>
                        <span>Sipariş</span>
                        <span class="small">Onayı</span>
                    </h3>
                    <i class="fa fa-check hidden-check"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="basket__left">
                <div class="basket__left__teslimat__adresi__container">
                    <div class="basket__left__teslimat__adresi__selectList">
                        TESLİMAT ADRESİ
                        <select class="wide">
                            <option value="Ev">Ev</option>
                            <option value="İş">İş</option>
                        </select>
                    </div>
                    <div class="basket__left__teslimat__adresi__detay">
                        <h4>Ev</h4>
                        <p>
                            Ad Soyad
                        </p>
                        <p>
                            A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                        </p>
                        <p>
                            <a class="button button__orange button__small" href="#">Düzenle</a>
                        </p>
                        <p>
                            <a class="button button__orange button__small" href="#" data-toggle="modal" data-target="#myModal">Yeni Adres Ekle</a>
                        </p>
                    </div>
                    <div class="basket__left__teslimat-saati">
                        <div class="basket__left__teslimat-saati__title">
                            TESLİMAT SAATİ
                        </div>
                        <select class="wide">
                            <option value="10.00 - 16.00">10.00 - 16.00</option>
                            <option value="16.00 - 22.00">16.00 - 22.00</option>
                        </select>
                    </div>
                </div>
                <div class="basket__left__fatura__adresi__container-uye-degil">
                    <div class="basket__left__fatura__adresi__selectList">
                        FATURA ADRESİ
                        <select class="wide">
                            <option value="Ev">Ev</option>
                            <option value="İş">İş</option>
                        </select>
                    </div>
                    <div class="basket__left__fatura__adresi__detay">
                        <h4>Ev</h4>
                        <p>
                            Ad Soyad
                        </p>
                        <p>
                            A sokak B Apartmanı No: 12 D:18, Ataşehir, İstanbul
                        </p>
                        <p>
                            <a class="button button__orange button__small" href="#">Düzenle</a>
                        </p>
                    </div>
                    <div class="basket__left__teslimat__adresi__kargo">
                        <div class="basket__left__teslimat__adresi__kargo__title">
                            KARGO
                        </div>
                        <input type="radio" checked="checked" id="basket__left__teslimat__adresi__kargo__checkbox">
                        <label for="basket__left__teslimat__adresi__kargo__checkbox">
                            Aras Kargo<span class="kargo-is-gunu">1-3 İş Günü</span><span class="kargo-ucret">10 TL</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="basket__right">
                <ul class="basket__summary-list">
                    <li>
                        <div>
                            Ara Toplam
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            Kargo Ücreti
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                0
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            TOPLAM
                        </div>
                        <div class="basket__summary-price">
                            <span>
                                280
                            </span>
                            <span>
                                TL
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="basket__buttons">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal__body-fatura-adresi">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-teslimat-adresi">
                        <label class="float" for="input-teslimat-adresi">
                            Teslimat Adresi
                        </label>
                    </div>
                    <div class="modal__body-isim">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="ilinput-isim">
                        <label class="float" for="input-isim">
                            İsim
                        </label>
                    </div>
                    <div class="modal__body-eposta">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-eposta">
                        <label class="float" for="input-eposta">
                            E-posta
                        </label>
                    </div>
                    <div class="modal__body-telefon">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <input type="text" id="input-telefon">
                        <label class="float" for="input-telefon">
                            Telefon
                        </label>
                    </div>
                    <div class="modal__body-il">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <label>İl</label>
                        <select class="wide">
                            <option value="istanbul">İstanbul</option>
                            <option value="ankara">Ankara</option>
                            <option value="izmir">İzmir</option>
                        </select>
                    </div>
                    <div class="modal__body-ilce">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <label>İlçe</label>
                        <select class="wide">
                            <option value="atasehir">Ataşehir</option>
                            <option value="kadikoy">Kadıköy</option>
                            <option value="uskudar">Üsküdar</option>
                        </select>
                    </div>
                    <div class="modal__body-detayli-adres">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                Hata
                            </div>
                        </div>
                        <textarea id="input-detayli-adres"></textarea>
                        <label class="float" for="input-detayli-adres">
                            Detaylı Adres
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="button button__large button__blue">Yeni Adres Ekle</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="js/all-input.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').niceSelect();
        });
    </script>
{% endblock %}