{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="fourofour">
                 <span class="title">
                     404
                 </span>
                 <span class="text">
                     Ziyaret etmek istediğiniz sayfa bulunamadı.
                 </span>
                 <a href="#" class="button button__blue button__large">
                     Anasayfaya Dön
                 </a>
             </div>
        </div>
    </div>
{% endblock %}