{% extends "partials/ecommerce-base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container__login">
                <h2>ÜYE KAYIT</h2>
            </div>
            <div class="container__login">
                <div class="container__login__form">
                    <div class="container__login__form__item">
                        <input type="text" placeholder="İsim">
                    </div>
                    <div class="container__login__form__item">
                        <input type="text" placeholder="Soyisim">
                    </div>
                    <div class="container__login__form__item">
                        <input type="password" placeholder="Şifre">
                    </div>
                    <div class="container__login__form__item">
                        <input type="email" placeholder="E-posta">
                    </div>
                    <div class="container__login__form__item">
                        <input type="text" placeholder="Telefon">
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div>
                            <input type="checkbox" id="kampanya-eposta">
                        </div>
                        <div>
                            <label for="kampanya-eposta">Kampanyalardan e-posta yoluyla haberdar olmak istiyorum.</label>
                        </div>
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div>
                            <input type="checkbox" id="kampanya-sms">
                        </div>
                        <div>
                            <label for="kampanya-sms">Kampanyalardan SMS yoluyla haberdar olmak istiyorum.</label>
                        </div>
                    </div>
                    <div class="container__login__form__item form__item__checkbox">
                        <div>
                            <input type="checkbox" id="kampanya-uyelik-sozlesmesi">
                        </div>
                        <div>
                            <label for="kampanya-uyelik-sozlesmesi">Üyelik sözleşmesi’ni okudum ve kabul ediyorum.</label>
                        </div>
                    </div>
                    <div class="container__login__form__item">
                        <a class="button button__blue button__large" href="#">Kayıt Ol</a>
                    </div>
                </div>
                <div class="container__login__image">
                    <img src="img/login.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}