{% extends "partials/base.html.njk" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="slider">
        <div><img src="img/slider.png"></div>
        <div><img src="img/slider.png"></div>
        <div><img src="img/slider.png"></div>
    </div>
    <div class="container">
        <div class="row">
            <h2>HAFİFLETEN SEÇENEKLER</h2>
            <div class="home-products">
            {% for i in [1,2,3] %}
                {% include "partials/home-vitrin-product.html.njk" %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="js/slick.js"></script>
<script>
    $(document).ready(function(){
        $(".slider").slick({
            arrows: false,
            dots: true
        });
    });
</script>
{% endblock %}