@import "variables";

html,
body {
  font-family: 'Muli', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bg-overlay {
  display: none;
  background: rgba(0,0,0,.4);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2;
}
.content {
  flex: 1 0 auto;
  margin-top: 69px;
}
.page-title {
  margin-top: 20px;
}
a {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.color-light-green {
  color: $light-green;
}
.color-orange {
  color: $orange;
}
.color-pink {
  color: $pink;
}
.float__left {
  float: left;
}
.float__right {
  float: right;
}
.gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  a {
    width: calc(25% - 20px);
  }
  img {
    max-width: 100%;
  }
}
.pswp__counter {
  color: #fff;
}


@media (max-width: 768px) {
  .content {
    margin-top: 40px;
  }

  .row {
    margin: 0;
  }
}