@import "variables";

html,
body {
  font-family: 'Muli', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bg-overlay {
  display: none;
  background: rgba(0,0,0,.4);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
}
.content {
  flex: 1 0 auto;
  margin-top: 69px;
  position: relative;
}
.page-title {
  margin-top: 20px;
}
a {
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}
.color-light-green {
  color: $light-green;
}
.color-orange {
  color: $orange;
}
.color-pink {
  color: $pink;
}
.float__left {
  float: left;
}
.float__right {
  float: right;
}
.pswp__counter {
  color: #fff;
}

.video-banner-container {
  margin-top: 20px;
}

.pretty {
  .fa-check {
    color: $green;
  }

  label {
    display: flex;
    align-items: center;

    span {
      margin-left: 4px;
    }
  }
}

.container > .row > h2 {
  margin-bottom: 20px;
}

.videoModal {
  .floatingClose {
    position: absolute;

    top: -12px;
    right: -10px;
    color: white;
    z-index: 9999;
    opacity: 1;

    i {
      font-size: 24px;

    }
  }

  .modal-dialog {
    width: 960px;
    height: 540px;
    margin: 60px auto;
  }

  .modal-content {
    padding: 0;
    position: relative;

    .modal-body {
      width: 960px;
      height: 540px;
      padding: 0;
      margin: 0;
    }

    .modal-footer {
      display: none;
    }
  }
}

.sponsors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoModal {
  text-align: center;
  h3 {
    float: left;
  }

  p {
    font-size: 24px;
  }

  .modal-dialog {
    margin-top: 150px;
  }

  .modal-content {
    padding:  0 10px 5px;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 240px;
    }
  }
}

.addressModal {

  .modal-content {
    padding: 15px;
  }

  .modal-footer {
    padding: 0;
  }
}

.contractModal {
  text-align: center;
  h2 {
    float: left;
  }

  p {
    font-size: 24px;
  }

  .modal-dialog {
    margin-top: 150px;
  }

  .modal-body {
    max-height: 300px;
    margin: 0;
    text-align: left;

    p {
      font-size: 14px;
    }
  }

  .modal-content {
    padding:  0 10px 5px;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 240px;
    }
  }
}

.container__hesabim > .row {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    align-self: flex-start;
  }
}

.captcha-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    width: 50%;
  }

  .captcha {
    width: 50%;
  }
}

.fourofour {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    font-size: 64px;
    font-weight: 600;
    color: $blue;
  }

  .text {
    font-size: 24px;
    margin-bottom: 20px;

  }
}


@media (max-width: 767px) {
  .infoModal {
    .modal-footer {
      flex-direction: column;

      .button {
        margin-bottom: 20px;
      }
    }
  }

  .container > .row > h2 {
    margin-bottom: 10px;
  }

  .corporate-index__slider {
    .slick-slide {
      padding: 0;
    }
  }

  .content {
    margin-top: 40px;
  }

  .ecom-content {
    margin-top: 56px;
  }

  .row {
    margin: 0;
  }

  .videoModal {
    .modal-dialog {
      width: 360px;
      height: 270px;
      margin: 60px auto;
    }

    .modal-content {
      padding: 0;

      .modal-body {
        width: 360px;
        height: 270px;
        padding: 0;
        margin: 0;
      }

      .modal-footer {
        display: none;
      }
    }
  }
}


@media (max-width: 400px) {
  .videoModal {
    .modal-dialog {
      width: 320px;
      height: 180px;
      margin: 60px auto;
    }

    .modal-content {
      padding: 0;

      .modal-body {
        width: 320px;
        height: 180px;
        padding: 0;
        margin: 0;
      }

      .modal-footer {
        display: none;
      }
    }
  }
}