
// Buttons
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  border-radius: 3px;
}
.button__large {
  width: 300px;
  height: 54px;
  font-size: 24px;
}
.button__small {
  width: 170px;
  height: 34px;
  font-size: 14px;
}
.button__orange {
  background: $orange;
}
.button__blue {
  background: $blue;
}
.button__dark-blue {
  background: $dark-blue;
}
.button__green {
  background: $green;
}
.button__bordered {
  border: solid 1px $light-gray;
}

.button-ecommerce {
  font-weight: 600;
}
.button__green_bordered {
  border: solid 3px $light-green;
  color: $light-green !important;
}
.button__orange_bordered {
  border: solid 3px $orange;
  color: $orange !important;
}
.button__pink_bordered {
  border: solid 3px $pink;
  color: $pink !important;
}
.button__centered {
  margin: 0 auto;
}

// Helper
.lang-active {
  color: $blue !important;
}