
// Buttons
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  border-radius: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.button__large {
  width: 300px;
  height: 54px;
  font-size: 24px;
}
.button__small {
  width: 170px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
}
.button__100 {
  width: 100%;
  height: 54px;
  font-size: 24px;
}
.button__orange {
  background: $orange;
}
.button__blue {
  background: $blue;
}
.button__dark-blue {
  background: $dark-blue;
}
.button__green {
  background: $green;
}
.button__bordered {
  border: solid 1px $light-gray;
  color: #4a4a4a !important;
}
.button__facebook {
  background: #3a589a;
  font-size: 16px;
  &:before {
    content: "\f082";
    margin-right: 12px;
    font: normal normal normal 20px/1 FontAwesome;
    display: inline;
  }
}

.button-ecommerce {
  font-weight: 600;
}
.button__green_bordered {
  border: solid 3px $light-green;
  color: $light-green !important;
}
.button__orange_bordered {
  border: solid 3px $orange;
  color: $orange !important;
}
.button__pink_bordered {
  border: solid 3px $pink;
  color: $pink !important;
}
.button__centered {
  margin: 0 auto;
}

// Helper
.lang-active {
  color: $blue !important;
}

.button__randevu {
  text-align: center;
  height: auto;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}