// Events Page
.events {
  display: flex;
  padding:0 25px;
  margin-top: 18px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  a {
    margin-bottom: 40px;
    h3 {
      color: $blue;
    }
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }

  .events-event__item {
    width: 315px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }
}
// Event Details
.event {
  margin-top: 42px;
  .event__intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .event__intro__image {
      width: 315px;
      min-width: 315px;
      img {
        width: 315px;
      }
    }
    .event__intro__content {
      margin-left: 30px;
      font-size: 18px;
      color: $dark-gray;
      h3 {
        font-size: 24px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 12px;
      }
    }
  }
  .event__body {
    img.float__left {
      margin-right: 30px;
    }
    img.float__right {
      margin-left: 30px;
    }
      p {
      clear: both;
      margin-top: 20px;
      font-size: 18px;
      color: $dark-gray;
    }
  }
}
@media (max-width: 992px) {
  .event {
    .event__intro {
      display: block;
      .event__intro__image {
        margin: 0 auto;
      }
      .event__intro__content {
        margin: 0;
      }
    }
  }
  .events {
    .events-event__item {
      max-width: 100%;
      min-width: 300px;
    }
  }
}