// Events
.faq {
  margin-top: 20px;
  .faq__item {
    margin-top: 30px;

    .faq__item__question h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.17;
      margin-bottom: 15px;
      color: $blue;
    }
    .faq__item__answer {
      font-size: 15px;
      line-height: 1.4;
      color: $dark-gray;
    }
  }
}