.about-us {
  padding: 0 60px;
  margin: 40px auto 0;

  .about-us__intro {
    margin-bottom: 30px;
    h2 {
      font-size: 36px;
      font-weight: 500;
      letter-spacing: -0.9px;
      line-height: 1.3;
      margin-bottom: 8px;
      &:after {
        display: none;
      }
    }
    p {
      text-indent: 20px;
      font-size: 18px;
      line-height: 1.33;
      color: $dark-gray;
    }
  }
  .about-us__section {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .about-us__section__title {
      min-width: 250px;
      padding-right: 30px;
      width: 243px;
      text-align: right;
      font-size: 36px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.9px;
      color: $blue;
      span {
        display: block;
        font-size: 48px;
        font-weight: normal;
        line-height: 1.0;
      }
      a {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.9px;
        padding: 4px 0;
      }
    }
    .about-us__section__detail {
      font-size: 18px;
      line-height: 1.33;
      color: $dark-gray;
      padding: 40px 30px;
      border-left: solid 1px rgba(151, 151, 151, 0.4);
      h3 {
        font-size: 24px;
        font-style: italic;
        letter-spacing: -0.4px;
        color: $blue;
        margin-bottom: 11px;
      }
      p {
        text-indent: 20px;
      }
    }
  }
}
.about-us__mekan-arge {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #2c2c2c);
  min-height: 440px;
  padding-bottom: 20px;
  .about-us_mekan,
  .about-us_arge {
    @include make-xs-column(12,0);
    @include make-sm-column(6,0);
    text-align: center;
    padding: 0 20px;
    h3 {
      margin-top: 5px;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -0.9px;
      color: #fff;
    }
    .about-us_image {
      max-width: 100%;
      width: 380px;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
    p {
      text-align: left;
      text-indent: 20px;
      font-size: 18px;
      color: #ffffff;
    }
  }
}
.about-us_bize-ulasin {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .about-us {
    padding:0;
    .about-us__intro {
      padding: 0 30px;
    }
    .about-us__section {
      display: block;
      margin-bottom: 20px;
      .about-us__section__title {
        margin: 0 auto;
        text-align: center;
      }
      .about-us__section__detail {
        border-left: none;
      }
    }
  }
}