@import "variables";

// Products List on corporate home page
.home-products {
  display: flex;
  padding:0 25px;
  margin-top: 18px;
  justify-content: space-around;

  a {
    h3 {
      color: $blue;
    }
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }

  .home-products__item {
    width: 315px;
    background: #f8f8f8;
  }

  .home-products_item_image {

    img {
      @include img-responsive();
    }
  }

  .home-products__item__content {
    padding: 8px 12px;
    height: 90px;
    color: $dark-gray;
  }
}

.skew-widget {
  margin: 50px auto 20px;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Skew widget items on home page
  .skew-widget__item {
    @include vendorize(transform, skew(-20deg));
    background: $blue;
    color: white;
    width: 224px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .skew-widget__content {
      @include vendorize(transform, skew(20deg));

      img {
        @include img-responsive();
      }
    }

    &.blue {
      background-color: $blue;
      color: white;
    }
    &.orange {
      background-color: $orange;
      color: white;
    }
    &.green {
      background-color: $green;
      color: white;
    }
    &.pink {
      background-color: $pink;
      color: white;
    }
  }
}

.video-banner {
  height: 392px;
  background-image: url("../img/video-bg.jpg");
  background-position: center;
  background-size: cover;

  margin-top: 20px;

  .row {
    height: 100%;
  }

  a {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      @include img-responsive();
      @include vendorize(transition, all .5s);
      opacity: 0.57;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.steps-showcase {
  background-color: $orange;
  padding: 10px 0;

  h2 {
    color: white;

    &:after {
      background: none;
    }
  }
}

.steps-showcase__list {
  @include clearfix();
  margin: 20px 0 10px 0;
}

.steps-showcase__item {
  @include make-xs-column(12, 0);
  @include make-sm-column(3, 0);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    @include img-responsive();
    margin-bottom: 10px;
  }

  p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }

  .step-count {
    top: -2px;
    right: 20px;
    position: absolute;

    height: 40px;
    width: 40px;
    background-color: $blue;
    border-radius: 20px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
}

.sponsors {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.quality-cert {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 48px;
    font-weight: 700;

    &:after {
      background: none;
    }
  }
}

.quality-cert__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  span.title {
    font-weight: 700;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .quality-cert {
    .row {
      display: block;
      text-align: center;
    }
    h2 {
      font-size: 24px;
    }
  }
  .quality-cert__item {
    display: block;
    span {
      display: block;
    }
  }
}

.clients {
  margin-top: 30px;
}

.clients__list {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.clients__item {
  width: 270px;

  h3 {
    font-size: 24px;
    color: $blue;
    font-weight: 700;
    margin-top: 20px;
  }

  .clients__short-story {
    padding-left: 20px;
  }

  .clients__readmore {
    font-size: 20px;
    font-weight: 400;
    color: $blue;
    text-align: right;
  }

  .clients__image {
    position: relative;
    width: 250px;
    height: 250px;


    >img {
      z-index: 12;
      position: relative;
    }
  }

  .circles {
    height: 100%;
    width:100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    >div {
      height: 100%;
      width:100%;
      border-radius: 50%;
      position: absolute;
    }

    .circle-green {
      background-color: #7ED321;
      right: -3px;
      bottom: -6px;
      z-index: 9;
    }
    .circle-orange {
      background-color: $orange;
      right: -9px;
      top: -6px;
      z-index: 8;
    }
    .circle-blue {
      background-color: #67D3EE;
      right: -18px;
      z-index: 7;
    }
  }
}

.client-detail__item {
  @include clearfix();

  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #DBDBDB;

  &:last-child {
    border-bottom: 0;
  }
}

.client-detail__info {
  @include make-sm-column(4,0);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .clients__item {
    text-align: center;
  }
}

.client-detail__text {
  @include make-sm-column(8,0);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .home-products {
    padding:0;
    .home-products__item {
      max-width: 300px;
      margin: 0 auto;
    }
    .slick-prev {
      left:20px;
    }
    .slick-next {
      right:20px;
    }
  }
  .clients__list {
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: -8px;
    }
    .slick-prev:before,
    .slick-next:before {
      color: $blue;
      text-shadow: none;
    }
    .slick-prev, .slick-next {
      top: 140px;
    }
  }
  .clients__item {
    .clients__image {
      margin: 7px auto 0;
    }
  }
  .steps-showcase__list {
    .slick-prev:before,
    .slick-next:before {
      color: rgba(255,255,255,.6);
      text-shadow: none;
    }
    .slick-slide img {
      width: auto;
      margin: 0 auto;
    }
    .slick-prev {
      left:0;
    }
    .slick-next {
      right:0;
    }
    .steps-showcase__item .step-count {
      top: 0;
    }
  }
}