// Workshops
.workshops {
  display: flex;
  margin-top: 18px;
  padding: 0 25px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  .workshops__workshop__item {
    background-color: #f5f5f5;
    min-height: 475px;
    margin-bottom: 60px;
    width: 315px;
    img {
      width: 315px;
    }
    .workshops__workshop__item__body {
      padding: 0 14px;
      .workshops__workshop__item__body__date,
      .workshops__workshop__item__body__time {
        font-size: 18px;
        line-height: 1.17;
        color: $dark-gray;
        margin-top: 10px;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: $blue;
      margin-top: 10px;
    }
  }
}

// Workshop Details
.workshop {
  h3 {
    font-size: 36px;
    font-weight: 600;
    color: $blue;
    margin: 20px 0 10px;
  }
}