.product-top {
  margin: 20px 0;
  width: 100%;
  float: left;
}

.product-left {
  width: 500px;
  float: left;
}

.product-right
{
  width: 640px;
  float: left;
  margin-left: 30px;

  h1 {
    margin: 0;
    color: $blue;
    font-size: 36px;
    font-weight: 600;
  }

  p {
    margin: 6px 0;
    font-size: 16px;
    line-height: 20px;
    color: #54585C;
  }
}

.product__price {
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
    flex-direction: row;

    del {
      font-size: 30px;
      color: #C0C0C0;
      font-weight: 600;
      margin-right: 20px;
    }
  }

  .second-row {
    .sum {
      font-size: 48px;
      font-weight: 600;
      color: $orange;
    }
    
    .currency {
      font-size: 36px;
      font-weight: 600;
      color: $orange;
    }
    
    .tax {
      font-size: 16px;
      color: #9B9B9B;
    }
  }
}

.product__shipment-info {
  margin: 10px 0;
  >div {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-right: 10px;
    }

    p {
      font-size: 14px;
    }
  }
}

.text-blue {
  color: $blue;
}

.product__suggest-box {
  padding: 20px 40px;
  min-height: 160px;
  max-width: 570px;
  background-color: #FFFBFB;
  border: 1px solid #EEEEEE;

  ul {
    padding-left: 16px;
  }
}

.product-bottom {
  display: block;
  width: 100%;
  float: left;
}

.product__widgets {
  display: flex;
  flex-direction: row;

  .product__widgets__item {
    max-width: 80px;
    padding: 2px;
    margin: 0 10px;

    &.soguk-sikma {
      background-color: $orange;
    }

    &.glutensiz {
      background-color: $green;
    }

    &.katkisiz {
      background-color: $blue;
    }

    &.sekersiz {
      background-color: $pink;
    }

    &.laktozsuz {
      background-color: $orange;
    }
  }
}

.product-image-showroom {
  width: 500px;
  img {
    @include img-responsive();
  }

  .slick-slide {
    padding: 0;
  }

  .slider-nav {
    .slick-slide {
      padding: 6px;
    }

  }
}

.product__content {
  @include clearfix();
}

.product__content__bottles {
  @include clearfix();
  margin: 30px 0;
}

.product-content__bottle__item {
  @include make-xs-column(12,0);
  @include make-sm-column(3,0);

  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;

  img {
    margin-right: 20px;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    color: #54585C;
    margin-bottom: 4px;
    span {
      font-weight: 300;
    }

  }
  
  ul {
    list-style: none;
    padding-left: 10px;
    color: #54585C;
  }
}

.product__benefits {
  @include clearfix();

}