.product-top {
  margin: 20px 0;
  width: 100%;
  float: left;
}

.product-left {
  float: left;
}

.product-right
{
  width: 640px;
  float: left;
  margin-left: 30px;

  h1 {
    margin: 0;
    color: $blue;
    font-size: 36px;
    font-weight: 600;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    color: #54585C;
  }
}

#productTitle { // Override omicron style
  font-size: 16px;
}

.product-code {
  color: $blue;
  font-weight: 400;
}

.product__price {
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
    flex-direction: row;
    padding-left: 6px;

    margin-top: 10px;

    del {
      font-size: 22px;
      color: #C0C0C0;
      font-weight: 500;
      margin-right: 20px;
      display: flex;
      align-items: flex-end;
    }
  }

  .second-row {
    margin-top: -10px;

    .sum {
      font-size: 35px;
      font-weight: 400;
      color: $orange;
    }

    .sum-cents {
      font-size: 22px;
      font-weight: 400;
      color: $orange;
      margin-left: -10px;
    }

    .currency {
      font-size: 22px;
      font-weight: 500;
      color: $orange;
    }

    .tax {
      font-size: 16px;
      color: #9B9B9B;
    }
  }
}

.new-product__price {
  display: none;
  flex-direction: row;

  .first-col {
    line-height: 1;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 6px;
    text-align: right;

    del {
      font-size: 28px;
      color: #C0C0C0;
      font-weight: 500;
      margin-right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .sum {
      font-size: 40px;
      font-weight: 400;
      color: $orange;
    }

    .sum-cents {
      font-size: 28px;
      font-weight: 400;
      color: $orange;
      margin-left: -10px;
    }

    .currency {
      font-size: 28px;
      font-weight: 500;
      color: $orange;
    }

    .tax {
      font-size: 16px;
      color: #9B9B9B;
    }
  }

  .second-col {
    flex-grow: 1;
    width: 50%;
    .button {
      min-width: 0;
    }
  }
}

.product__shipment-info {
  margin: 20px 0;
  >div {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-right: 10px;
    }

    p {
      font-size: 14px;
    }
  }
}

.text-blue {
  color: $blue;
}

.product__suggest-box {
  padding: 10px 40px;
  min-height: 160px;
  max-width: 570px;
  background-color: #FFFBFB;
  border: 1px solid #EEEEEE;
  
  background-image: url("../img/product/suggest-back1.png"), url("../img/product/suggest-back2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;

  h4 {
    color: #676B6F;
    font-weight: 600;
  }

  ul {
    padding-left: 16px;
    color: #676B6F;
    max-width: 340px;

    li {
      color: $green;

      p {
        color: #676B6F;
        margin: 0;
        padding: 0;
        font-size: 14px;
      }
    }

  }
}

.product-bottom {
  display: block;
  width: 100%;
  float: left;
}

.product__widgets {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .product__widgets__item {
    max-width: 68px;
    padding: 0 2px;
    margin: 0 10px;
    border-radius: 3px;

    position: relative;
    z-index: 2;
    cursor: pointer;

    img {
      max-width: 48px;
    }

    /* Hide the tooltip content by default */
    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    /* Position tooltip above the element */
    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      margin-left: -40px;
      padding: 7px;
      width: 80px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    &:after {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    /* Show tooltip content on hover */
    &:hover:before,
    &:hover:after {
      visibility: visible;
      opacity: 1;
    }



    &.soguk-sikma {
      background-color: $orange;

      &:before {
        content: "Soğuk Sıkım"
      }
    }

    &.glutensiz {
      background-color: $green;

      &:before {
        content: "Glutensiz"
      }
    }

    &.katkisiz {
      background-color: $blue;

      &:before {
        content: "Katkısız"
      }
    }

    &.sekersiz {
      background-color: $pink;

      &:before {
        content: "Şekersiz"
      }
    }

    &.laktozsuz {
      background-color: $orange;

      &:before {
        content: "Laktozsuz"
      }
    }
  }
}

.product-image-showroom {
  width: 500px;
  img {
    @include img-responsive();
  }

  .slick-slide {
    padding: 0;
  }

  .slider-nav {
    .slick-slide {
      padding: 6px;
    }

  }
}

.product__content {
  @include clearfix();

  h5 {
    font-size: 18px;
    font-weight: 600;
    color: #54585C;
    margin-bottom: 4px;
    span {
      font-weight: 300;
    }

  }

  p {
    color: #54585C;
  }
}

.product__content__bottles {
  @include clearfix();
  margin: 30px 0;
}

.product-content__bottle__item {
  @include make-xs-column(12,0);
  @include make-sm-column(3,0);

  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;

  img {
    margin-right: 20px;
  }

  p {
    color: #54585C;
  }
  
  ul {
    list-style: none;
    padding-left: 10px;
    color: #54585C;
  }
}

.product__benefits {
  @include clearfix();
  margin: 10px 0 30px 0;

  .bottle-item {
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: #54585C;
      margin-bottom: 4px;
      span {
        font-weight: 300;
      }

    }
  }

  &.green-juice {

  }
}

.product__benefits__item {
  @include make-xs-column(12,0);
  @include make-sm-column(3,0);

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    width: 100%;
  }
  
}

.product__sample__list {
  margin: 20px 0;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    border-bottom: 1px solid $light-gray;

    &:last-child {
      border-bottom: 0;
    }

    div {
      width: 15%;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      span:first-child {
        font-weight: 600;
        font-size: 16px;
      }

      span:last-child {
        font-size: 16px;
      }
    }

    .col1 {
      width: 10%;

    }
  }
}

.product__info-tab {
  margin: 20px 0;

  p {
    color: #54585C;
    font-size: 16px;
  }
}

.product__variant {
  display: flex;
  flex-direction: column;

  .nice-select {
    margin: 10px 0;
    max-width: 300px;

  }
}

.product__variant__title {
  font-size: 18px;
  font-weight: 600;
  color: #9B9B9B;
}

.product__variant__list {
  display: flex;
  align-items: center;
}

.product__variant__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  margin-right: 10px;
  height: 60px;
  width: 80px;
  border: 2px solid #C0C0C0;
  color: #C0C0C0;
  border-radius: 3px;
  cursor: pointer;

  .green {
    display: none;
  }

  &.chosen{
    border-color: $green;
    color: $green;

    .grayscale {
      display: none;
    }

    .green {
      display: block;
    }
  }
}

.customjb {
  margin-top: 30px;
}

.customjb__title {
  @include clearfix();
  font-size: 20px;
  color: $blue;
  font-weight: 600;
}

.customjb__select__list {
  @include clearfix();
  margin-top: 20px;

  .nice-select {
    margin-bottom: 20px;
  }
}

.customjb__image__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

p.out-of-stock {
  font-size: 24px;
  color: #C0C0C0;
  font-weight: 600;
  margin: 30px 0;
}

.sticky-price {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px 0;
  z-index: 133;
  background-color: #ffffff;
  border-top: 1px solid #dadada;
}

.sticky-price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sticky-product-name {
  font-size: 13px;
  color: $blue;
  overflow: hidden;
  max-height: 54px;
}

.sticky-product-prices {
  text-align: right;
  display: flex;
  flex-direction: column;
  line-height: 1;
  flex-grow: 1;
  margin-right: 10px;
  min-width: 95px;

  del {
    font-size: 16px;
    color: #C0C0C0;
    font-weight: 500;
    margin-right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .sum {
    font-size: 24px;
    font-weight: 400;
    color: $orange;
  }

  .sum-cents {
    font-size: 16px;
    font-weight: 400;
    color: $orange;
    margin-left: -10px;
  }

  .currency {
    font-size: 16px;
    font-weight: 500;
    color: $orange;
  }

  .tax {
    font-size: 16px;
    color: #9B9B9B;
  }
}

.sticky-product-button {
  .button {
    min-width: 120px;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .product-left {
    .product-image-showroom {
      width: 360px;
    }
  }

  .product-right {
    width: 540px;
  }
}

@media (max-width: 992px) {
  .product-left {
    .product-image-showroom {
      width: 320px;
    }
  }

  .product-right {
    width: 400px;
  }

}

@media (max-width: 768px) {


  .product-right {
    h1 {
      margin-top: 8px;
    }
  }

  .sticky-product-button {
    .button {
      min-width: 150px;
    }
  }

  .new-product__price {
    display: flex;
    align-items: flex-end;
  }

  .product__price {
    display: none;
  }

  .product__sample__list {

    li {
      flex-direction: column;
      div {
        width: 100%;
        margin-bottom: 10px;
      }

      .col1 {
        width: 100%;
        span {
          color: $blue;
        }
      }
    }


  }

  .product__suggest-box {
    background-image: url("../img/product/suggest-back1.png");
  }

  .customjb {
    margin-top: 10px;
    padding: 0 10px;
  }

  .customjb__select__list {
    margin-top: 6px;
  }

  .customjb__image__list {
    margin-top: 0;
  }

  .customjb__image {
    margin: 0 2px;
  }

  .product-top {
    margin: 0;
    margin-top: -1px;
    margin-left: -15px;
  }

  .product-left {
    width: 100%;

    .product-image-showroom {
      width: calc(100% + 30px);
    }
  }

  .product-right {
    width: 100%;
    margin-left: 15px;

    .button__large {
      max-width: 300px;
    }
  }

  .product__widgets .product__widgets__item {
    max-height: 45px;
    margin: 0 2px;
  }

  .product__price .first-row del {
    white-space: nowrap;
  }

  .product-content__bottle__item {
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;

      li {
        margin-right: 4px;

        &::after {
          content: ", "
        }

        &:last-child {
          &::after
          {
            content: "";
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {

  .new-product__price .first-col del {
    font-size: 24px;
  }

  .new-product__price .first-col {
    .sum {
      font-size: 32px;
    }

    .sum-cents {
      font-size: 28px;
    }

    .currency {
      font-size: 28px;
    }

    .tax {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {

  .sticky-product-button {
    .button {
      min-width: 120px;
    }
  }

  .new-product__price .first-col del {
    font-size: 24px;
  }

  .new-product__price .first-col {
    .sum {
      font-size: 28px;
    }

    .sum-cents {
      font-size: 18px;
    }

    .currency {
      font-size: 18px;
    }

    .tax {
      font-size: 14px;
    }
  }
}