.basket__navigation {
  display: flex;
  height: 73px;
  flex-direction:row;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #dbdbdb;

  &.sepetim {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 22%, #d8d8d8 28%, #d8d8d8);
    border-image-slice: 1;
  }

  &.teslimat {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 47%, #d8d8d8 53%, #d8d8d8);
    border-image-slice: 1;
  }

  &.odeme {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 72%, #d8d8d8 78%, #d8d8d8);
    border-image-slice: 1;
  }

  &.onay {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #ff8c00;
  }

  margin-top: 10px;
  & > a {
    flex-grow: 1;
    height: 73px;
    border-right: solid 1px #dbdbdb;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    color: #9b9b9b;
    span {
      display: block;
      line-height: 24px;

      &.small {
        color: #9b9b9b;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  i {
    font-size: 32px;
    color: #9b9b9b;
    margin-right: 20px;
  }
  .hidden-check {
    display: none;
    color: $green;
    font-size: 20px;
    position: absolute;
    right: 5px;
  }

  .completed .hidden-check {
    display: block;
  }
  .active {
    i {
      color: $orange;
    }
    h3 {
      color: $blue;
      span {
        color: $blue !important;
      }
    }
  }
}

.basket__left {
  @include make-xs-column(12);
  @include make-sm-column(9);
  padding-left: 0;
  padding-right: 15px;
}


.basket__right {
  @include make-xs-column(12);
  @include make-sm-column(3);
  padding: 0;
}
.row {
  .row {
    margin: 0;
  }
}

.basket__detailed-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;

  >li {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      @include img-responsive();
      max-width: 72px;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }
  }

  .basket__product-title {
    font-size: 18px;
    text-align: left;
    color: #54585c;
  }

  .basket__product {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.basket__detailed-list__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket__summary-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 10px 0;

  border: 1px solid #dbdbdb;

  li {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: 0;
    }
  }

  .basket__summary-price {
    span {
      color: $orange;
      font-weight: 600;
    }

    span:first-child {
      font-size: 20px;
    }

    span:last-child {
      font-size: 12px;
    }
  }
}

.product-counter {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    width: 64px;
    height: 36px;
    padding: 0;

    text-align: center;
    border: 1px solid #00B5E2;
    border-radius: 3px;
  }

  a {
    cursor: pointer;
  }

  .product-counter-minus {
    padding: 4px 8px;
    background-color: #73D6EF;
    i {
      color: white;
    }
  }

  .product-counter-plus {
    padding: 4px 8px;
    background-color: #52CDEB;
    i {
      color: white;
    }
  }
}

.yedek-parca {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  border-left: 1px solid #C0C0C0;
  padding-left: 10px;

  li {
    color: #9b9b9b;
    font-weight: 400;
  }

}

.basket__product-price {
  width: 160px;
  text-align: center;

  .basket__product-cost {
    color: $orange;
    font-size: 20px;
    font-weight: 600;
  }

  .basket__product-currency {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
  }

  .basket__product-kdv {
    font-size: 12px;
    text-align: left;
    color: #9b9b9b;
  }
}

.basket__delete-button {
  margin: 8px 10px 0;
  a {
    padding-top: 4px;
    i {
      color:#9b9b9b;
      font-size: 18px;
    }
  }
}

.basket__buttons {
  .button {
    margin-bottom: 10px;
    width: 100%;
  }
}
.basket__left__fatura__adresi__container {
  display: none;
}
.basket__left__teslimat__adresi__container,
.basket__left__fatura__adresi__container,
.basket__left__fatura__adresi__container-uye-degil {
  @include make-md-column(6);
  margin-top: 42px;
  padding-left: 0;
}
.basket__left__teslimat__adresi__detay,
.basket__left__fatura__adresi__detay {
  min-height: 200px;
}
.basket__left__teslimat__adresi__selectList,
.basket__left__fatura__adresi__selectList {
  display: block;
  min-height: 93px;
  margin-bottom: 30px;
  padding: 15px 12px;
  border: solid 1px #9b9b9b;
  .wide {
    margin: 10px -13px 0;
    width: calc(100% + 26px);
  }
}
.basket__left__teslimat__adresi__item,
.basket__left__fatura__adresi__item{
  position: relative;
  margin-bottom: 30px;
}
.basket__left__teslimat__adresi2,
.basket__left__fatura__adresi2{
  display: flex;
  flex-direction:row;
  > div {
    width: calc(50% - 10px);
    &:first-child {
      margin-right: 20px;
    }
  }
}
.basket__left__teslimat__adresi__select,
.basket__left__fatura__adresi__select{
  margin-top: -22px;
}
.basket__left__checkbox {
  margin-bottom: 30px;
}
.basket__left__teslimat-saati, .basket__left__teslimat__adresi__kargo {
  border: solid 1px #9b9b9b;
  padding: 15px 30px;
  height: 130px;
  margin-bottom: 30px;
  .basket__left__teslimat__adresi__kargo__title {
    margin-bottom: 30px;
    .basket__left__teslimat__adresi__kargo__checkbox {
      margin: 0 10px;
    }
  }
  .basket__left__teslimat-saati__title {
    margin-bottom: 15px;
  }
  input, label {
    display: inline;
    width: auto;
  }
}
.kargo-is-gunu {
  color: #54585c;
  margin: 0 20px;
}
.kargo-ucret {
  font-size: 18px;
  font-weight: 600;
  color: $orange;
  margin-left: 50px;
}

.basket-onay {
  position: relative;
}

.basket-onay__text {
  position: absolute;
  top: 80px;
  text-align: center;

  width: 440px;
  left: calc(50% - 220px);

  h3 {
    font-size: 48px;
    font-weight: 600;
    color: #54585C;
  }

  h4 {
    font-size: 32px;
    font-weight: 400;
    color: #54585C;

  }

  p {
    font-size: 16px;
    color: #54585C;

  }
}

.basket-empty {
  text-align: center;
  padding: 60px 0 20px 0;
  h4 {
    font-size: 32px;
    font-weight: 400;
    color: #54585C;

  }
  a {
    margin: 20px auto;
  }
}
.odeme-secenekleri__tab-bar {
  background: #eeeeee;
}
.odeme-secenekleri__container {
  border: solid 1px #9b9b9b;
  margin-top: 20px;
  display: flex;

  .nav-tabs {
    background: #eeeeee;
    li {
      padding: 0 10px;
      width: 200px;
      background: #eeeeee;
      a {
        margin-right: 0;
        border: none;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 600;
        color: #54585c;
        @include vendorize(border-radius, 0);
        i {
          margin-right: 10px;
        }
      }
      &.active {
        background: #fff;
        a {
          border:none !important;
          width: 100%;
          @include vendorize(border-radius, 0);
        }
      }
    }
  }
}
.kredi-karti__bilgileri {
  @include make-row();
  padding: 0 25px;
}
.kredi-karti__bilgileri__item__container {
  @include make-md-column(7);
}
.kredi-karti__bilgileri__item {
  position: relative;
  margin-top: 30px;
}
.kredi-karti__taksit-secenekleri {
  @include make-md-column(5);
}
.kredi-karti__bilgileri__item-row {
  @include make-row();
  display: flex;
  align-items: flex-end;
}
.kredi-karti__bilgileri__skt {
  @include make-md-column(8);
}
.kredi-karti__bilgileri__skt__options {
  display: flex;
  .nice-select {
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}
.kredi-karti__bilgileri__guvenlik-kodu
{
  @include make-md-column(4);
}
.kredi-karti__bilgileri {
  padding-bottom: 30px;
}
.havale__bilgileri {
  padding: 25px;
  h3 {
    margin-bottom: 20px;
  }
}
.havale__bilgileri__radio__container {
  label,
  input {
    display: inline;
    width: auto;
  }
  label {
    font-size: 16px;
    font-weight: 400;
  }
  span {
    padding-left: 20px;
    font-weight: 700;
  }
}
.siparis-notu__checkbox__container {
  margin: 20px 0;
}
.havale__bilgileri__siparis-notu {
  display: none;
  margin: 20px 0;
  position: relative;
}
.havale__bilgileri__sozlesme {
  height: 100px;
  overflow: scroll;
  border: solid 1px $gray;
  padding: 10px;
}
.odeme-secenekleri__tab-bar {
  ul li a i {
    margin-left: 10px;
  }
}
.tab-content {
  min-height: 320px;
  flex-grow: 1;
  border-left: 1px solid #ddd;
}

.basket__coupon {
  margin-top: 20px;

  .container__login__form__item {
    max-width: 300px;
    margin-bottom: 10px;
    display: none;
  }
}

@media (max-width: 767px) {
  .basket__detailed-list>li {
    flex-direction: column;
  }
  .basket__left__teslimat__adresi__container,
  .basket__left__fatura__adresi__container,
  .basket__left__fatura__adresi__container-uye-degil {
    padding: 0;
  }

  .basket-onay {
    img {
      display: none;
    }
  }
  .basket__left__teslimat__adresi__detay, .basket__left__fatura__adresi__detay {
    min-height: auto;
  }
  .basket__left__teslimat__adresi__container, .basket__left__fatura__adresi__container-uye-degil {
    margin-top: 10px
  }
  .basket__left__teslimat__adresi__selectList, .basket__left__fatura__adresi__selectList {
    margin-bottom: 10px;
  }
  .basket-onay__text {
    position: relative;
    top: inherit;
    width: inherit;
    left: inherit;
  }

  .basket__navigation {
    >a {
      flex-direction: column;
    }

    i {
      font-size: 20px;
      margin: 0 0 6px 0;
    }

    h3 {
      font-size: 14px;
      text-align: center;
      span {
        line-height: 16px;
      }

      span.small {
        font-size: 14px;
      }
    }
  }
  .odeme-secenekleri__container {
    flex-direction:column;
  }
  .odeme-secenekleri__tab-bar {
    width: 100%;
    .nav-tabs {
      display: flex;
      li {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          background: #fff;
        }
      }
    }
  }
  .nav-stacked>li+li {
    margin-top: 0;
  }
  .tab-content {
    border: none;
  }
}
