.basket__navigation {
  display: flex;
  height: 73px;
  flex-direction:row;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #dbdbdb;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  &.sepetim {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 22%, #d8d8d8 28%, #d8d8d8);
    border-image-slice: 1;
  }

  &.teslimat {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 47%, #d8d8d8 53%, #d8d8d8);
    border-image-slice: 1;
  }

  &.odeme {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-source: linear-gradient(to right,  #ff8c00,#ff8c00 72%, #d8d8d8 78%, #d8d8d8);
    border-image-slice: 1;
  }

  &.onay {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #ff8c00;
  }

  margin-top: 10px;
  & > a {
    flex-grow: 1;
    height: 73px;
    border-right: solid 1px #dbdbdb;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    color: #9b9b9b;
    span {
      display: block;
      line-height: 24px;

      &.small {
        color: #9b9b9b;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  i {
    font-size: 32px;
    color: #9b9b9b;
    margin-right: 20px;
  }
  .hidden-check {
    display: none;
    color: $green;
    font-size: 20px;
    position: absolute;
    right: 5px;
  }

  .completed .hidden-check {
    display: block;
  }
  .active {
    i {
      color: $orange;
    }
    h3 {
      color: $blue;
      span {
        color: $blue !important;
      }
    }
  }
}

.basket__left {
  @include make-xs-column(12);
  @include make-sm-column(9);
  padding-left: 0;
  padding-right: 15px;
}


.basket__right {
  @include make-xs-column(12);
  @include make-sm-column(3);
  padding: 0;
  margin-top: 30px;
}
.row {
  .row {
    margin: 0;
  }
}

.basket-adres__list {
  max-height: 330px;
  overflow-y: scroll;
  border: 1px solid #e8e8e8;
  margin-top: 10px;

}

.basket-adres__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.basket-adres__detay {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.basket-adres__checkbox {
  .pretty {
    margin: 0 20px 0 0;

    label {
      width: 80px;
      height: 120px;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

    }
  }
}

.basket-adres__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #dbdbdb;
}

.basket-adres__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  a {
    i {
      margin-right: 4px;
    }
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 120px;
  }
}

.half-basket {
  @include make-sm-column(6,0);
  padding-right: 15px;
}

.teslimat__full,
.fatura__full{
  @include make-md-column(12);
  padding: 0;
}
.teslimat__left,
.teslimat__right,
.fatura__left,
.fatura__right {
  @include make-md-column(6);
}

.teslimat__left,
.fatura__left {
  padding-left: 0;
}

.teslimat__right,
.fatura__right {
  padding-right: 0;
}

.basket__detailed-list {
  list-style: none;
  padding: 0;
  margin: 30px 0 20px 0;

  >li {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      @include img-responsive();
      max-width: 72px;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }
  }

  .basket__product-title {
    font-size: 18px;
    text-align: left;
    color: #54585c;
    width: 250px;
  }

  .basket__product {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.basket__detailed-list__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket__summary-list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;

  border: 1px solid #dbdbdb;

  li {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: 0;
    }
  }

  .basket__summary-price {
    span {
      color: $orange;
      font-weight: 600;
    }

    span:first-child {
      font-size: 20px;
    }

    span:last-child {
      font-size: 12px;
    }
  }
}

.product-counter {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    width: 64px;
    height: 36px;
    padding: 0;

    text-align: center;
    border: 1px solid #00B5E2;
    border-radius: 3px;
  }

  a {
    cursor: pointer;
  }

  .product-counter-minus {
    padding: 4px 8px;
    background-color: #73D6EF;
    i {
      color: white;
    }
  }

  .product-counter-plus {
    padding: 4px 8px;
    background-color: #52CDEB;
    i {
      color: white;
    }
  }
}

.yedek-parca {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  border-left: 1px solid #C0C0C0;
  padding-left: 10px;

  li {
    color: #9b9b9b;
    font-weight: 400;
  }

}

.basket__product-price {
  width: 160px;
  text-align: center;

  .basket__product-cost {
    color: $orange;
    font-size: 20px;
    font-weight: 600;
  }

  .basket__product-currency {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
  }

  .basket__product-kdv {
    font-size: 12px;
    text-align: left;
    color: #9b9b9b;
  }
}

.basket__delete-button {
  margin: 8px 10px 0;
  a {
    padding-top: 4px;
    i {
      color:#9b9b9b;
      font-size: 18px;
    }
  }
}

.basket__buttons {
  .button {
    margin-bottom: 10px;
    width: 100%;
  }

  .contractCheck {
    margin: 10px 0;
    width: 100%;

    .pretty {
      width: 100%;
    }
  }

  a {
    color: $blue;
  }
}
#teslimat__kurumsal,
#teslimat__bireysel,
#fatura__kurumsal,
#fatura__bireysel {
  width: auto;
  margin-right: 5px;
  margin-bottom: 30px;
}
#teslimat__bireysel + label,
#fatura__bireysel + label {
   margin-right: 30px;
}
.faturaKurumsalSelected,
.teslimatKurumsalSelected {
  display: none;
}
.teslimat__bireysel-kurumsal,
.fatura__bireysel-kurumsal{
  @include make-md-column(12);
}
.fatura__container {
  display: none;
}
.teslimat__container,
.fatura__container,
.fatura-uye-degil__container {
  margin-top: 30px;
  padding-left: 0;
}
.teslimat__detay,
.fatura__detay {
  min-height: 200px;
}
.teslimat__selectList,
.fatura__selectList {
  display: block;
  min-height: 93px;
  margin-bottom: 30px;
  padding: 15px 30px;
  border: solid 1px #9b9b9b;
  .wide {
    margin: 10px -13px 0;
    width: calc(100% + 26px);
  }
}
.teslimat__item,
.fatura__item{
  position: relative;
  margin-bottom: 30px;
}
.teslimat__adresi2,
.fatura__adresi2{
  display: flex;
  flex-direction:row;
  > div {
    width: calc(50% - 10px);
    &:first-child {
      margin-right: 20px;
    }
  }
}
.basket__left__teslimat__adresi {
  .teslimat__item {
    margin-bottom: 20px;
  }
}

.teslimat__select,
.fatura__select{
  @include clearfix();
}

.teslimat-saati,
.teslimat__kargo {
  border: solid 1px #9b9b9b;
  padding: 15px 30px;
  min-height: 130px;
  margin-bottom: 30px;

  img {
    margin-left: 20px;
  }

  .kargo__title {
    margin-bottom: 10px;
    .kargo__checkbox {
      margin: 0 10px;
    }
  }
  .teslimat-saati__title {
    margin-bottom: 15px;
  }
  input, label {
    display: inline;
    width: auto;
  }
}
.kargo-is-gunu {
  color: #54585c;
  margin: 0 20px;
}
.kargo-ucret {
  font-size: 18px;
  font-weight: 600;
  color: $orange;
  margin-left: 50px;
}

.basket-onay {
  position: relative;
}

.basket-onay__text {
  position: absolute;
  top: 80px;
  text-align: center;

  width: 440px;
  left: calc(50% - 220px);

  h3 {
    font-size: 48px;
    font-weight: 600;
    color: #54585C;
  }

  h4 {
    font-size: 32px;
    font-weight: 400;
    color: #54585C;

  }

  p {
    font-size: 16px;
    color: #54585C;

  }
}

.basket-empty {
  text-align: center;
  padding: 60px 0 20px 0;
  h4 {
    font-size: 32px;
    font-weight: 400;
    color: #54585C;

  }
  a {
    margin: 20px auto;
  }
}
.odeme-secenekleri__tab-bar {
  background: #eeeeee;
}
.odeme-secenekleri__container {
  border: solid 1px #9b9b9b;
  margin-top: 30px;
  display: flex;

  .nav-tabs {
    background: #eeeeee;
    li {
      padding: 0 10px;
      width: 160px;
      background: #eeeeee;
      a {
        margin-right: 0;
        border: none;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 600;
        color: #54585c;
        @include vendorize(border-radius, 0);
        i {
          margin-right: 10px;
        }
      }
      &.active {
        background: #fff;
        a {
          border:none !important;
          width: 100%;
          @include vendorize(border-radius, 0);
        }
      }
    }
  }
}
.kredi-karti__bilgileri {
  @include make-row();
  padding: 0 25px;
}
.kredi-karti__bilgileri__item__container {
  @include make-md-column(6);
}
.kredi-karti__bilgileri__item {
  position: relative;
  margin-top: 30px;
}
.kredi-karti__taksit-secenekleri {
  @include make-md-column(6);
}
.kredi-karti__bilgileri__item-row {
  @include make-row();
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.kredi-karti__bilgileri__skt {
  @include make-md-column(8);
}
.kredi-karti__bilgileri__skt__options {
  display: flex;
  .nice-select {
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}
.kredi-karti__bilgileri__guvenlik-kodu
{
  @include make-md-column(4);
}
.kredi-karti__bilgileri {
  padding-bottom: 30px;
}
.havale__bilgileri {
  padding: 25px;
  h3 {
    margin-bottom: 20px;
  }
}
.havale__bilgileri__radio__container {
  padding: 16px 0;
  border-bottom: 1px solid $light-gray;
  @include clearfix();

  label,
  input {
    display: inline;
    width: auto;
  }
  label {
    font-size: 16px;
    font-weight: 400;
  }
  span {
    padding-left: 20px;
    font-weight: 700;
  }

  img {
    margin-left: 10px;
  }
}
.siparis-notu__checkbox__container {
  margin: 20px 0;
}
.havale__bilgileri__siparis-notu {
  display: none;
  margin: 20px 0;
  position: relative;

  textarea {
    resize: none;
  }
}
.havale__bilgileri__sozlesme {
  height: 100px;
  overflow: scroll;
  border: solid 1px $gray;
  padding: 10px;
}
.odeme-secenekleri__tab-bar {
  ul li a i {
    margin-left: 10px;
  }
}
.tab-content {
  min-height: 320px;
  flex-grow: 1;
}

.basket__coupon {
  margin-top: 20px;

  .container__login__form__item {
    max-width: 300px;
    margin-bottom: 10px;
    display: none;
  }
}

.basket__mini-product-list {
  border: 1px solid #9B9B9B;
  margin-bottom: 10px;

  .title {
    border-bottom: 1px solid #9B9B9B;
    width: 100%;
    display: block;
    padding: 13px 10px;
  }

  >ul {
    padding: 10px;
    margin: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;

    >li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 6px;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom: 1px solid #9B9B9B;
    }
  }

  .mpl-img {
    @include img-responsive();
    max-width: 70px;
    margin-right: 4px;
  }

  .mpl-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mpl-price {
    span:first-child {
      font-size: 18px;
      color: $orange;
      font-weight: 600;
    }

    span:last-child {
      font-size: 14px;
      color: $orange;
      font-weight: 600;
    }
  }

  .mpl-quantity {
    font-size: 12px;
    font-weight: 600;
  }
  .mpl-title {
    font-size: 16px;
    max-width: 110px;
  }

  .mpl-yedek-parca {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      border:0;
      list-style: none;
      max-width: 160px;

      li {
        white-space: nowrap;
        color: #9b9b9b;
        font-weight: 400;
        font-size: 12px;

        &:after {
          content: ',';
          margin: 0 4px 0 -2px;
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}

.kredi-karti__taksit-secenekleri {
  margin-top:30px;
}

.installment-title {
  height: 48px;
  width: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #9b9b9b;
}

.installmentList-empty {
  border: 1px solid #9b9b9b;
  border-top: 0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.installmentList {
  .col0,
  .col1,
  .col2,
  .col3 {
  }

  .head {
    padding: 10px;
    border: 1px solid #9b9b9b;
    border-top: 0;
    border-bottom: 0;

    span {
      font-weight: 600;
    }
  }


  .col0 {
    @include make-xs-column(2,0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col1 {
    @include make-xs-column(2,0);
    text-align: center;
  }
  .col2 {
    @include make-xs-column(4,0);
    text-align: right;
    span:last-child {
      font-size: 12px;
      font-weight: 600;
    }
  }
  .col3 {
    @include make-xs-column(4,0);
    text-align: right;

    span:last-child {
      font-size: 12px;
      font-weight: 600;
    }
  }

  ul {
    padding: 10px;
    margin: 0;
    list-style: none;
    width: 100%;
    border: 1px solid #9b9b9b;
    border-top: 0;
    li{
      border-bottom: 1px solid $light-gray;

      &:last-child {
        border-bottom: 0;
      }

      >label {
        height: 36px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1199px) {
  .basket__navigation .hidden-check {
    bottom: 5px;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .teslimat__left,
  .teslimat__right,
  .fatura__left,
  .fatura__right {
    padding: 0;
  }

}

@media (max-width: 768px) {
  .basket-adres__head {
    padding: 0 15px;
  }

  .basket-adres__content {
    height: auto;
    min-height: 120px;
    padding-bottom: 10px;
  }

  .basket-adres__content {
    flex-wrap: wrap;
  }

  .basket-adres__checkbox .pretty label {
    width: 32px;
  }

  .teslimat__selectList,
  .fatura__selectList{
    padding: 15px 0;
  }

  .basket__detailed-list {
    .basket__product {
      flex-wrap: wrap;
    }

    .basket__product-title {
      width: calc(100% - 82px);
    }
  }

  .yedek-parca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0;
    padding: 0;
    border:0;


    li {
      white-space: nowrap;

      &:after {
        content: ',';
        margin: 0 4px 0 -2px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  .basket__delete-button {
    margin: 8px 0 0;
  }

  .basket__product-price {
    width: 140px;
  }

  .basket__detailed-list>li {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-count {
    margin-top: 4px;
    input {
      width: 50px;
    }
  }

  .button__large {
    width: 100%;
  }

  .basket__left {
    padding-right: 0;
  }

  .addressModal .modal-body>div {
    margin-bottom: 0;
  }

  .teslimat__left,
  .teslimat__right,
  .fatura__left,
  .fatura__right {
    padding: 0;
  }



  .teslimat__container,
  .fatura__container,
  .fatura-uye-degil__container {
    padding: 0;
  }

  .basket-onay {
    img {
      display: none;
    }
  }

  .teslimat__detay,
  .fatura__detay {

  }

  .teslimat__container,
  .fatura-uye-degil__container {
    margin-top: 10px
  }

  .teslimat__selectList,
  .fatura__selectList {
    margin-bottom: 10px;
  }

  .basket-onay__text {
    position: relative;
    top: inherit;
    width: inherit;
    left: inherit;
  }

  .basket__navigation {
    >a {
      flex-direction: column;
    }

    i {
      font-size: 20px;
      margin: 0 0 6px 0;
    }

    h3 {
      font-size: 14px;
      text-align: center;
      span {
        line-height: 16px;
      }

      span.small {
        font-size: 14px;
      }
    }
  }
  .odeme-secenekleri__container {
    flex-direction:column;
  }

  .odeme-secenekleri__tab-bar {
    width: 100%;
    .nav-tabs {
      display: flex;
      li {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          background: #fff;
        }
      }
    }
  }
  .nav-stacked>li+li {
    margin-top: 0;
  }
  .tab-content {
    border: none;
  }
}
