.header-nav {
  padding-bottom: 0;
}

.header-controls__phone {
  margin-bottom: 6px;
  a {
    font-size: 18px;
    color: $green;
    font-weight: 600;
    i {
      padding-right: 7px;
    }
  }
}
.header-controls__user {
  font-size: 14px;
  font-weight: 500;
  color: $orange;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 320px;

  i {
    padding-right: 3px;
    font-size: 18px;
  }
  a {
    color: $orange;
  }
  span {
    margin: 0 5px;
  }
}

.basket-nav-counter {
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #f6a623;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 3px 3px 0;
  display: inline-block;
  position: relative;
  margin: 0 !important;
}

.ecommerce-home-products {
  display: flex;
  padding:0 25px;
  margin-top: 18px;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    margin-bottom: 56px;
    h3 {
      color: $blue;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }

  .ecommerce-home-products__item {
    width: 315px;
    background: #f8f8f8;
    font-size: 18px;
    line-height: 1.17;

    .product__widgets .product__widgets__item {
      max-width: 48px;
      margin: 0 4px;
      padding: 0;
    }

    .not-available {
      font-size: 28px;
      color: #C0C0C0;
      font-weight: 600;
      padding-bottom: 6px;
      display: block;
      width: 124px;
      margin-top: 18px;
    }
  }

  .ecommerce-home-products_item_image {
    img {
      @include img-responsive();
    }
  }

  .ecommerce-home-products__item__content {
    padding: 4px 12px;
    height: 86px;
    color: $dark-gray;
    overflow: hidden;
  }
}
.ecommerce-home-products__item__meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 12px 8px;
  min-height: 64px;

  .ecommerce-home-products__item__icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    .product__widgets{
      margin-bottom: 6px;
    }
  }
}
.ecommerce-home-products__item__icons__item {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  padding: 5px;
  background: $green;
  color: #fff;
  @include vendorize(border-radius, 3px);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 10px;
  i {
    margin-right: 3px;
    font-size: 18px;
  }
}
.ecommerce-home-products__item__icons__price {
  flex-grow: 1;
  text-align: right;
  min-width: 160px;

  .ecommerce-home-products__item__icons__price-old {
    color: #c1c1c1;
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 500;

    .sum-cents {
      font-size: 18px;
      margin-left: -4px;
    }
  }
  .ecommerce-home-products__item__icons__price-new {
    font-size: 30px;
    font-weight: 500;
    color: $orange;
    span {
      font-size: 30px;
    }

    .sum-cents {
      font-size: 24px;
      margin-left: -8px;
    }

    .currency {
      font-size: 24px;
    }
  }
}

.quality-cert {
  .title-blue {
    span {
      display: block;
    }
  }
}

@media (max-width: 992px) {
  .sponsors .row {
    flex-wrap: wrap;
  }

  .quality-cert {
    .title-blue {
      span {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 768px) {
  .ecommerce-home-products {
    padding: 0;
    .ecommerce-home-products__item {
      width: 100%;
    }
  }
  .ecommerce-home-products a h3 {
    text-align: left;
    font-size: 14px;
  }

  .ecommerce-home-products .ecommerce-home-products__item__content {
    font-size: 10px;
    height: 46px;
  }
  .ecommerce-home-products__item__icons__price .ecommerce-home-products__item__icons__price-new .sum-cents,
  .ecommerce-home-products__item__icons__price .ecommerce-home-products__item__icons__price-new .currency {
    font-size: 16px;
  }
  .ecommerce-home-products__item__meta .ecommerce-home-products__item__icons .product__widgets {
    display: none;
  }
  .ecommerce-home-products__item__icons__price {
    min-width: 0;
  }
  .ecommerce-home-products a {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .ecommerce-home-products .ecommerce-home-products__item .not-available {
    font-size: 20px;
    margin: 0;
    float: right;
  }

  .ecommerce-home-products__item__meta {
    min-height: 56px;
  }

  .ecommerce-home-products__item__icons__price .ecommerce-home-products__item__icons__price-new {
    margin-top: -10px;
  }

  .ecommerce-home-products__item__icons__price .ecommerce-home-products__item__icons__price-new span {
    font-size: 24px;
  }
}