.header-controls__phone {
  font-size: 18px;
  color: $green;
  font-weight: 600;
  padding-bottom: 10px;
  i {
    padding-right: 7px;
  }
}
.header-controls__user {
  font-size: 14px;
  font-weight: 500;
  color: $orange;
  i {
    padding-right: 3px;
    font-size: 18px;
  }
  a {
    color: $orange;
  }
  span {
    margin: 0 10px;
  }
}