.container__login {
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  margin-top: 20px;
  display: flex;
  align-items:flex-end;
  margin-bottom: -20px;
  max-width: 100%;
}
.container__login__form {
  padding: 30px;
  width: 360px;
  align-self:flex-start;
  max-width: 100%;
}
.container__login__form__item {
  margin-bottom: 30px;
  position: relative;
  @include clearfix();

  span {
    width: 272px;
  }
}
.form__item__checkbox {
  display: flex;
  align-items:center;
  margin-bottom: 10px;
  div {
    margin: 0 5px;
  }
}
.login__button__container {
  .button {
    margin-bottom: 20px;
  }
}
.login__form__remember__reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 16px;
    font-weight: 600;
    color: $blue;
  }

  .pretty {
    margin: 0;
  }
}
.popover-error {
  .popover {
    position: absolute;
    display: block;
    background: rgba(248, 224, 224, 0.95);

    color: #8A0808;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    top: auto;
    z-index: 12;
    right: auto;
    left: auto;
    bottom: 47px;

    .popover-content {
      padding: 6px 10px;
    }

    &>.arrow {
      border-top-color: rgba(248, 224, 224, 0.95);

    }

    &.top > .arrow::after {
      border-top-color: rgba(248, 224, 224, 0.85);
    }
  }
}
.container__login__image {
  position: absolute;
  bottom: -30px;
  right: calc(50% - 380px);
  z-index: 5;

  img {
    min-width: 200px;
  }
}

@media (max-width:767px) {
  .container__login {
    padding:0;
  }
  .container__login__image {
    display: none;
  }

  .container__login__form {
    padding: 20px 0;
  }
}