.container__login {
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  margin-top: 20px;
  display: flex;
  align-items:flex-end;
  margin-bottom: -20px;
  max-width: 100%;
}
.container__login__form {
  padding: 30px;
  width: 360px;
  align-self:flex-start;
  max-width: 100%;
}
.container__login__form__item {
  margin-bottom: 30px;
  position: relative;
}
.form__item__checkbox {
  display: flex;
  align-items:center;
  margin-bottom: 10px;
  div {
    margin: 0 5px;
  }
}
.login__button__container {
  a.button {
    margin-bottom: 20px;
  }
}
.login__form__remember__reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 16px;
    font-weight: 600;
    color: $blue;
  }
}
@media (max-width:767px) {
  .container__login {
    padding:0;
  }
}