.hesabim__navigation {
  display: flex;
  height: 73px;
  flex-direction:row;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #dbdbdb;
  & > a {
    flex-grow: 1;
    height: 73px;
    border-right: solid 1px #dbdbdb;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.9px;
    color: #9b9b9b;
  }
  .hesabim__navigation__icon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    position: absolute;
    right: -8px;
    bottom: -8px;
    @include vendorize(border-radius, 50%);
    i {
      font-size: 24px;
      color: #9b9b9b;
    }
  }
  .active {
    .hesabim__navigation__icon {
      background: $orange;
      i {
        color: #fff;
      }
    }
    h3 {
      color: $blue;
    }
  }
}
.hesabim__form {
  margin-top: 45px;
  @include make-sm-column(6);
}
.hesabim__form__item {
  position: relative;
  margin-bottom: 30px;
}
.hesabim__form__button__container {
  display: flex;
  justify-content: flex-end;
}
.hesabim__adreslerim__button {
  margin-top: 20px;
}
.hesabim__adreslerim__panel {
  @include make-sm-column(6);
  border: solid 1px #9b9b9b;
  margin-top: 20px;
}
.hesabim__adreslerim__panel__heading {
  padding: 13px 28px;
  font-size: 18px;
  color: $dark-gray;
}
.hesabim__adreslerim__panel__separator {
  height: 1px;
  background: #9b9b9b;
  @include make-row();
}
.hesabim__adreslerim__panel__body__item {
  padding: 20px 30px;
  font-size: 14px;
  line-height: 1.43;
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: $dark-gray;
  }
  &:last-child {
    .hesabim__panel__buttons {
      border:none;
      padding-bottom:0;
    }
  }
}
.hesabim__panel__buttons {
  padding: 25px 0;
  border-bottom: solid 1px #dbdbdb;
}
.hesabim__panel__adress__edit {
  color: $blue;
  font-size: 13px;
  margin-right: 25px;
  &:before {
    content: "\f044";
    font-family: "FontAwesome";
    margin-right: 5px;
  }
}
.hesabim__panel__adress__delete {
  color: $orange;
  font-size: 13px;
  &:before {
    content: "\f1f8";
    font-family: "FontAwesome";
    margin-right: 5px;
  }
}
.hesabim__siparislerim {
  font-size: 18px;
  width:100%;
  margin-top: 30px;

  .hsip__header {
    font-weight: 600;
    color: $blue;
    padding-left: 20px;
    @include clearfix();
  }

  .hsip__no {
    @include make-sm-column(2,0);
  }

  .hsip__tarih {
    @include make-sm-column(2,0);
  }
  .hsip__teslim {
    @include make-sm-column(3,0);
  }
  .hsip__tutar {
    @include make-sm-column(1,0);
  }
  .hsip__durum {
    @include make-sm-column(2,0);
  }

  .hsip__button {
    @include make-sm-column(2,0);

    .button {
      width: calc(100% - 40px);
      margin: 0 20px;
    }
  }


}

.hsip__item {
  border: solid 1px #9b9b9b;
  padding: 15px 0 15px 20px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  width: 100%;


  .hsip__tutar {
    color: $orange;
    font-weight: 600;
  }

  .hsip__durum {
    color: $blue;
  }
}
.hesabim__siparis__detay {
  @include make-row();
  width: 100%;
  .hesabim__siparis__detay__left {
    @include make-sm-column(8);
    padding: 0;
  }
  .hesabim__siparis__detay__right {
    @include make-sm-column(4);
    padding: 0;
  }
  h4 {
    font-weight: bold;
  }
}
.hesabim__siparis__detay__left__item {
  margin-bottom: 30px;
}
.modal__body-fatura-adresi,
.modal__body-isim,
.modal__body-detayli-adres {
  @include make-md-column(12);
}
.modal__body-eposta,
.modal__body-telefon,
.modal__body-il,
.modal__body-ilce {
  @include make-sm-column(6);
}
.modal__body-il,
.modal__body-ilce {
  margin-top: -22px;
  min-height: 70px;
}
@media (max-width: 991px) {
  .hesabim__navigation {
    a {
      border-bottom: solid 1px #dbdbdb;
      border-right: none;
      height: auto;
      padding: 0 10px;
      text-align: center;
    }
    h3 {
      font-size: 14px;
    }
    .hesabim__navigation__icon {
      width: 30px;
      height: 30px;
      i {
        font-size: 14px;
      }
    }
  }
  .hesabim__siparislerim__urun__details {
    text-align: right;
  }
  .hesabim__siparislerim__urun__details {
    flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .hesabim__form__button__container {
    justify-content: center;
  }
  .hesabim__siparislerim__urun__title {
    width: auto !important;
  }
}
