.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  min-height: 70px;
  width: 100%;
  padding: 8px 0;
  border-bottom: solid 1px $light-gray;
  background-color: #ffffff;

  .row {
    display: flex;
    align-items: flex-end;
  }
}
.header-nav {
  flex-shrink: 10;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 5px;
  a {
    margin: 0 20px;
    color: $blue;
    font-size: 18px;
    font-weight: 500;
  }
}

.header-controls {
  align-items: flex-end;
  text-align: right;
  color: $light-gray;
  a {
    text-decoration: none;
    color: $light-gray;
  }
}

.header-separator {
  margin: 0 10px;
}

.mobile-menu {
  width: 71px;
}

.mobile-nav {
  z-index: 99;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  img {
    max-height: 26px;
  }
  .mobile-menu__icon {
    font-size: 28px;
    color: $blue;
    width: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  .mobile-basket {
    width: 71px;

    a {
      font-size: 28px;
      color: $orange;
      margin-left: 15px;
      float: right;

      &:focus,
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin: 0;
      }
    }

  }
  .mobile-logo {
    flex-grow: 1;
    text-align: center;
  }
  .mobile-menu__list {
    background: white;
    width: 280px;
    padding: 15px 30px;
    margin-left: -280px;
    position: absolute;
    height: 100%;
    left:0;
    top: 40px;
    ul {
      padding: 0;
    }
    li {
      color: $orange;
      font-size: 18px;
      margin: 5px 0;
      a {
        display: block;
        color: $blue;
      }
    }
  }
  .header-controls {
    text-align: left;
    a {
      display: inline;
    }
  }
}

.header-ecommerce {
  .header-nav {
    a {
      font-size: 16px;
    }
  }
  .mobile-phone {
    color: $green;
    font-weight: 700;
    padding: 2px 0;
    a {
      font-size: 14px;
      color: $green;
      font-weight: 600;
      i {
        padding-right: 7px;
      }
    }
  }
}

.mobile-menu-basket__list {
  background: white;
  width: 280px;
  padding: 15px 30px;
  margin-right: -280px;
  position: absolute;
  height: 100%;
  right: 0;
  top: 40px;
  ul {
    padding: 0;
  }
  li {
    color: $orange;
    font-size: 18px;
    margin: 5px 0;
    a {
      display: block;
      color: $blue;
    }
  }
}
.ecommerce-times {
  font-size: 28px !important;
  color: $orange;
  width: 71px;
  text-align: right;
  &:hover {
    cursor: pointer;
  }
}
.mobile-menu-basket__list__siparis {
  text-align: center;
}
.mobile-menu-basket__list__siparis__adet {
  background: $orange;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 20px auto;
  color: #fff;
  justify-content: center;
  @include vendorize(border-radius, 50%);
}
html.stuck, body.stuck {
  overflow-y: hidden;
}

.nav-username {
  display: flex;

  span {
    @include vendorize(transition, all .5s);
  }

  span:first-child {
    max-width: 86px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  span:last-child {
    width: 90px;
    display: none;
  }

  &:hover {
    span:first-child {
      display: none;
    }

    span:last-child {
      display: inline-block;
    }
  }

}

.mobile-username {
  @extend .nav-username;
  max-width: 200px;
}

@media (max-width: 1200px) {
  .header-nav {
    display: flex;
    justify-content: space-around;

    a {
      margin: 0;
    }
  }
}

@media (max-width: 991px) {
  .header {
    height: 40px;
    min-height: 40px;
    padding: 0;
  }
  .header-ecommerce {
    padding-top: 6px;
    height: 56px;
    min-height: 56px;
    .mobile-nav .mobile-menu__list,
    .mobile-menu-basket__list {
      top: 56px;
    }
  }
}