.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  min-height: 70px;
  width: 100%;
  padding: 8px 0;
  border-bottom: solid 1px $light-gray;
  background-color: #ffffff;

  .row {
    display: flex;
    align-items: flex-end;
  }
}

.header-logo {
}

.header-nav {
  flex-shrink: 10;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 5px;
  a {
    margin: 0 20px;
    color: $blue;
    font-size: 18px;
    font-weight: 500;
  }
}

.header-controls {
  align-items: flex-end;
  text-align: right;
  color: $light-gray;
  a {
    text-decoration: none;
    color: $light-gray;
  }
}

.header-separator {
  margin: 0 10px;
}

.mobile-nav {
  z-index: 99;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  img {
    max-height: 26px;
  }
  .mobile-menu__icon {
    font-size: 28px;
    color: $blue;
    &:hover {
      cursor: pointer;
    }
  }
  .mobile-basket {
    font-size: 28px;
    color: $orange;
  }
  .mobile-logo {
    flex-grow: 1;
    text-align: center;
  }
  .mobile-menu__list {
    background: white;
    width: 280px;
    padding: 15px 30px;
    margin-left: -280px;
    position: absolute;
    height: 100%;
    left:0;
    top: 40px;
    ul {
      padding: 0;
    }
    li {
      color: $orange;
      font-size: 18px;
      margin: 5px 0;
      a {
        display: block;
        color: $blue;
      }
    }
  }
  .header-controls {
    text-align: left;
    a {
      display: inline;
    }
  }
}

@media (max-width: 1200px) {
  .header-nav {
    display: flex;
    justify-content: space-around;

    a {
      margin: 0;

    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 40px;
    min-height: 40px;
    padding: 0;
  }


}