label.float{
  color: #999999;
  font-size:16px;
  font-weight:400;
  position:absolute;
  pointer-events:none;
  left:25px;
  top:13px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
textarea {
  padding: 12px 24px;
  height: 100px;
}

input,
textarea {
  border: solid 1px #9b9b9b;
  font-size: 16px;
  color: #54585C;
  width: 100%;
  &::placeholder {
    color: #999;
  }
  &[type="text"],
  &[type="email"],
  &[type="password"]{
    padding: 12px 24px;
  }
  &[type="checkbox"] {
    display: inline;
    width: auto;
  }
  &:read-only {
    background-color: #efefef;
    border: solid 1px #e4e4e4;
  }
  &:focus {
    outline:none;
  }
  &.error {
    border: solid 1px rgba(208,2,27,0.4);
  }

  &:focus ~ label.float,
  &.not-empty ~ label.float,
  .floating{
    top:-20px;
    left: 2px;
    font-size:16px;
    color: $dark-gray;
  }
}

label.floating{
  top:-20px;
  left: 2px;
  font-size:16px;
  color: $dark-gray;
}