@import "variables";

.slick-dots {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 3px;
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      position: relative;
      display: inline-block;
      background: white;
      border-radius: 50%;
      border: solid 1px $blue;
      cursor: pointer;
    }

    &.slick-active:after {
      background: $blue;
    }

    button {
      display: none;
    }
  }
}
.slick-slide {
  outline: none;
  padding: 0 15px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

a {
  &:focus {
    text-decoration: none;
  }
}
.slick-next,
.slick-prev {
  height: 32px;
  width: 32px;
  z-index: 2;
}
.slick-next {
  text-shadow: 0 2px 12px rgba(0,0,0,.32);
  right: 40px;
}
.slick-prev {
  text-shadow: 0 2px 12px rgba(0,0,0,.32);
  left: 40px;
}
.slick-next:before {
  font-size: 32px;
  content: "\f054";
  font-family: 'FontAwesome';
}
.slick-prev:before {
  font-size: 32px;
  content: "\f053";
  font-family: 'FontAwesome';
}
.modal-content {
  padding: 25px 10px;
}
.modal-body {
  @include make-row();
  > div {
    position: relative;
    margin-bottom: 30px;
  }
  label {
    left: 35px;
  }
  input,
  textarea {
    &:focus ~ label.float,
    &.not-empty ~ label.float,
    label.floating{
      top:-20px;
      left: 15px;
      font-size:16px;
      color: $dark-gray;
    }
  }
}
.modal-footer {
  border: none;
  display: flex;
  justify-content: flex-end;
}

.nice-select {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border: solid 1px #9b9b9b;
  @include vendorize(border-radius, 0);
  span.current {
    color: #54585C;
    font-size: 16px;
    font-weight: 400;
  }
}